<!-- Delivery Performance -->
<div class="col-lg-6 col-xxl-4 mb-4 order-2 order-xxl-2">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-1">Delivery Performance</h5>
        <p class="text-body mb-0">12% increase in this month</p>
      </div>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="deliveryPerformance"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="mdi mdi-dots-vertical mdi-24px"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="deliveryPerformance"
        >
          <a class="dropdown-item" href="javascript:void(0);">Select All</a>
          <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
          <a class="dropdown-item" href="javascript:void(0);">Share</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="p-0 m-0">
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"
              ><i class="mdi mdi-wallet-giftcard mdi-24px"></i></span
            >
          </div>
          <div
            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
          >
            <div class="me-2">
              <h6 class="mb-1 fw-normal">Packages in transit</h6>
              <small class="text-success fw-normal d-block">
                <i class="mdi mdi-chevron-up"></i>
                25.8%
              </small>
            </div>
            <div class="user-progress">
              <h6 class="mb-0">10k</h6>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-info"
              ><i class="mdi mdi-bus-school mdi-24px"></i></span
            >
          </div>
          <div
            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
          >
            <div class="me-2">
              <h6 class="mb-1 fw-normal">Packages out for delivery</h6>
              <small class="text-success fw-normal d-block">
                <i class="mdi mdi-chevron-up"></i>
                4.3%
              </small>
            </div>
            <div class="user-progress">
              <h6 class="mb-0">5k</h6>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-success"
              ><i class="mdi mdi-check text-success mdi-24px"></i></span
            >
          </div>
          <div
            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
          >
            <div class="me-2">
              <h6 class="mb-1 fw-normal">Packages delivered</h6>
              <small class="text-danger fw-normal d-block">
                <i class="mdi mdi-chevron-down"></i>
                12.5
              </small>
            </div>
            <div class="user-progress">
              <h6 class="mb-0">15k</h6>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-warning"
              ><i class="mdi mdi-home-outline mdi-24px"></i></span
            >
          </div>
          <div
            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
          >
            <div class="me-2">
              <h6 class="mb-1 fw-normal">Delivery success rate</h6>
              <small class="text-success fw-normal d-block">
                <i class="mdi mdi-chevron-up"></i>
                35.6%
              </small>
            </div>
            <div class="user-progress">
              <h6 class="mb-0">95%</h6>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-secondary"
              ><i class="mdi mdi-timer-outline mdi-24px"></i></span
            >
          </div>
          <div
            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
          >
            <div class="me-2">
              <h6 class="mb-1 fw-normal">Average delivery time</h6>
              <small class="text-danger fw-normal d-block">
                <i class="mdi mdi-chevron-down"></i>
                2.15
              </small>
            </div>
            <div class="user-progress">
              <h6 class="mb-0">2.5 Days</h6>
            </div>
          </div>
        </li>
        <li class="d-flex">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-danger"
              ><i class="mdi mdi-account-outline mdi-24px"></i></span
            >
          </div>
          <div
            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
          >
            <div class="me-2">
              <h6 class="mb-1 fw-normal">Customer satisfaction</h6>
              <small class="text-success fw-normal d-block">
                <i class="mdi mdi-chevron-up"></i>
                5.7%
              </small>
            </div>
            <div class="user-progress">
              <h6 class="mb-0">4.5/5</h6>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--/ Delivery Performance -->
