<!-- Orders by Countries -->
<div class="col-md-6 col-xxl-4 mb-4 order-0 order-xxl-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-1">Orders by Countries</h5>
        <p class="text-body mb-0">62 deliveries in progress</p>
      </div>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="ordersCountries"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="mdi mdi-dots-vertical mdi-24px"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="ordersCountries"
        >
          <a class="dropdown-item" href="javascript:void(0);">Select All</a>
          <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
          <a class="dropdown-item" href="javascript:void(0);">Share</a>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="nav-align-top">
        <ul
          class="nav nav-tabs nav-fill tabs-line border-bottom-0"
          role="tablist"
        >
          <li class="nav-item">
            <button
              type="button"
              class="nav-link active"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-new"
              aria-controls="navs-justified-new"
              aria-selected="true"
            >
              New
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-link-preparing"
              aria-controls="navs-justified-link-preparing"
              aria-selected="false"
            >
              Preparing
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-link-shipping"
              aria-controls="navs-justified-link-shipping"
              aria-selected="false"
            >
              Shipping
            </button>
          </li>
        </ul>
        <div class="tab-content border-0 pb-0 px-4 mx-1">
          <div
            class="tab-pane fade show active"
            id="navs-justified-new"
            role="tabpanel"
          >
            <ul class="timeline mb-0">
              <li class="timeline-item ps-4 border-left-dashed">
                <span
                  class="timeline-indicator-advanced text-success border-0 shadow-none"
                >
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-success text-uppercase fw-medium"
                      >sender</small
                    >
                  </div>
                  <h6 class="mb-2">Myrtle Ullrich</h6>
                  <p class="mb-0">101 Boulder, California(CA), 95959</p>
                </div>
              </li>
              <li class="timeline-item ps-4 border-transparent">
                <span
                  class="timeline-indicator-advanced text-primary border-0 shadow-none"
                >
                  <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-primary text-uppercase fw-medium"
                      >Receiver</small
                    >
                  </div>
                  <h6 class="mb-2">Barry Schowalter</h6>
                  <p class="mb-0">939 Orange, California(CA), 92118</p>
                </div>
              </li>
            </ul>
            <div class="border-1 border-light border-top border-dashed mb-2">
            </div>
            <ul class="timeline mb-0">
              <li class="timeline-item ps-4 border-left-dashed">
                <span
                  class="timeline-indicator-advanced text-success border-0 shadow-none"
                >
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-success text-uppercase fw-medium"
                      >sender</small
                    >
                  </div>
                  <h6 class="mb-2">Veronica Herman</h6>
                  <p class="mb-0">162 Windsor, California(CA), 95492</p>
                </div>
              </li>
              <li class="timeline-item ps-4 border-transparent">
                <span
                  class="timeline-indicator-advanced text-primary border-0 shadow-none"
                >
                  <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-primary text-uppercase fw-medium"
                      >Receiver</small
                    >
                  </div>
                  <h6 class="mb-2">Helen Jacobs</h6>
                  <p class="mb-0">487 Sunset, California(CA), 94043</p>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="navs-justified-link-preparing"
            role="tabpanel"
          >
            <ul class="timeline mb-0">
              <li class="timeline-item ps-4 border-left-dashed">
                <span
                  class="timeline-indicator-advanced text-success border-0 shadow-none"
                >
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-success text-uppercase fw-medium"
                      >sender</small
                    >
                  </div>
                  <h6 class="mb-2">Barry Schowalter</h6>
                  <p class="mb-0">939 Orange, California(CA), 92118</p>
                </div>
              </li>
              <li
                class="timeline-item ps-4 border-transparent border-left-dashed"
              >
                <span
                  class="timeline-indicator-advanced text-primary border-0 shadow-none"
                >
                  <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-primary text-uppercase fw-medium"
                      >Receiver</small
                    >
                  </div>
                  <h6 class="mb-2">Myrtle Ullrich</h6>
                  <p class="mb-0">101 Boulder, California(CA), 95959</p>
                </div>
              </li>
            </ul>
            <div class="border-1 border-light border-top border-dashed mb-2">
            </div>
            <ul class="timeline mb-0">
              <li class="timeline-item ps-4 border-left-dashed">
                <span
                  class="timeline-indicator-advanced text-success border-0 shadow-none"
                >
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-success text-uppercase fw-medium"
                      >sender</small
                    >
                  </div>
                  <h6 class="mb-2">Veronica Herman</h6>
                  <p class="mb-0">162 Windsor, California(CA), 95492</p>
                </div>
              </li>
              <li class="timeline-item ps-4 border-transparent">
                <span
                  class="timeline-indicator-advanced text-primary border-0 shadow-none"
                >
                  <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-primary text-uppercase fw-medium"
                      >Receiver</small
                    >
                  </div>
                  <h6 class="mb-2">Helen Jacobs</h6>
                  <p class="mb-0">487 Sunset, California(CA), 94043</p>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="navs-justified-link-shipping"
            role="tabpanel"
          >
            <ul class="timeline mb-0">
              <li class="timeline-item ps-4 border-left-dashed">
                <span
                  class="timeline-indicator-advanced text-success border-0 shadow-none"
                >
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-success text-uppercase fw-medium"
                      >sender</small
                    >
                  </div>
                  <h6 class="mb-2">Veronica Herman</h6>
                  <p class="mb-0">101 Boulder, California(CA), 95959</p>
                </div>
              </li>
              <li class="timeline-item ps-4 border-transparent">
                <span
                  class="timeline-indicator-advanced text-primary border-0 shadow-none"
                >
                  <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-primary text-uppercase fw-medium"
                      >Receiver</small
                    >
                  </div>
                  <h6 class="mb-2">Barry Schowalter</h6>
                  <p class="mb-0">939 Orange, California(CA), 92118</p>
                </div>
              </li>
            </ul>
            <div class="border-1 border-light border-top border-dashed mb-2">
            </div>
            <ul class="timeline mb-0">
              <li class="timeline-item ps-4 border-left-dashed">
                <span
                  class="timeline-indicator-advanced text-success border-0 shadow-none"
                >
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-success text-uppercase fw-medium"
                      >sender</small
                    >
                  </div>
                  <h6 class="mb-2">Myrtle Ullrich</h6>
                  <p class="mb-0">162 Windsor, California(CA), 95492</p>
                </div>
              </li>
              <li class="timeline-item ps-4 border-transparent">
                <span
                  class="timeline-indicator-advanced text-primary border-0 shadow-none"
                >
                  <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <div class="timeline-event ps-1">
                  <div class="timeline-header">
                    <small class="text-primary text-uppercase fw-medium"
                      >Receiver</small
                    >
                  </div>
                  <h6 class="mb-2">Helen Jacobs</h6>
                  <p class="mb-0">487 Sunset, California(CA), 94043</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Orders by Countries -->
