---
const {
  title = "Datatable Default",
  name = "Datatable Default",
  id = "dtId",
} = Astro.props;
---

<div class="col-12 order-5">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2">On route vehicles</h5>
      </div>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="routeVehicles"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="mdi mdi-dots-vertical mdi-24px"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="routeVehicles"
        >
          <a class="dropdown-item" href="javascript:void(0);">Select All</a>
          <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
          <a class="dropdown-item" href="javascript:void(0);">Share</a>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="dt-route-vehicles table">
        <thead class="table-light">
          <tr>
            <th></th>
            <th></th>
            <th>location</th>
            <th>starting route</th>
            <th>ending route</th>
            <th>warnings</th>
            <th class="w-20">progress</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
