---
const {
  title = "Datatable Default",
  id = "dtId",
  column = ["sample", "sample", "sample"],
} = Astro.props;
---

<div class="col-12 order-1">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2">{title}</h5>
      </div>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="routeVehicles"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="mdi mdi-dots-vertical mdi-24px"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="routeVehicles"
        >
          <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
          <a class="dropdown-item" href="javascript:void(0);">Share</a>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="table m-3 striped" id={id}>
        <thead class="table-light fw-bold text-center">
          <tr>
            {
              column.map((item: string) => (
                <th>{item.replace(/_/g, " ").toUpperCase()}</th>
              ))
            }
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
