<!-- Shipment statistics-->
<div class="col-lg-6 col-xxl-6 mb-4 order-3 order-xxl-1">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-1">Shipment statistics</h5>
        <p class="text-body mb-0">Total number of deliveries 23.8k</p>
      </div>
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-outline-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          January
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">January</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">February</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">March</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">April</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">May</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">June</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">July</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">August</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">September</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">October</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">November</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">December</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div id="shipmentStatisticsChart"></div>
    </div>
  </div>
</div>
<!--/ Shipment statistics -->
