<!-- Navbar -->
<nav
  class='layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme'
  id='layout-navbar'>
  <div class='layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none'>
    <a class='nav-item nav-link px-0 me-xl-6' href='javascript:void(0)'>
      <iconify-icon icon='ri:menu-line' width='24' height='24' class='icon-base ri ri-menu-line icon-22px'
      ></iconify-icon>
    </a>
  </div>

  <div class='navbar-nav-right d-flex align-items-center justify-content-end' id='navbar-collapse'>
    <!-- Search -->
    <div class='navbar-nav align-items-center'>
      <div class='nav-item navbar-search-wrapper mb-0'>
        <a class='nav-item nav-link search-toggler px-0' href='javascript:void(0);'>
          <span class='d-inline-block text-body-secondary fw-normal' id='autocomplete'></span>
        </a>
      </div>
    </div>

    <!-- /Search -->

    <ul class='navbar-nav flex-row align-items-center ms-md-auto'>
      <!-- User -->
      <li class='nav-item navbar-dropdown dropdown-user dropdown'>
        <a class='nav-link dropdown-toggle hide-arrow' href='javascript:void(0);' data-bs-toggle='dropdown'>
          <div class='avatar avatar-online'>
            <img src='/img/avatars/1.png' alt='avatar' class='rounded-circle' />
          </div>
        </a>
        <ul class='dropdown-menu dropdown-menu-end mt-3 py-2'>
          <li>
            <a class='dropdown-item' href='pages-account-settings-account.html'>
              <div class='d-flex align-items-center'>
                <div class='flex-shrink-0 me-2'>
                  <div class='avatar avatar-online'>
                    <img src='/img/avatars/1.png' alt='alt' class='w-px-40 h-auto rounded-circle' />
                  </div>
                </div>
                <div class='flex-grow-1'>
                  <h6 class='mb-0 small'>John Doe</h6>
                  <small class='text-body-secondary'>Admin</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class='dropdown-divider'></div>
          </li>
          <li>
            <a class='dropdown-item' href='#'>
              <iconify-icon icon='streamline-plump-color:smiley-laughing-1' width='20' height='20'></iconify-icon>
              <span class='align-middle'>My Profile</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='pages-account-settings-account.html'>
              <iconify-icon icon='streamline-plump-color:screwdriver' width='20px' height='20px'></iconify-icon>
              <span class='align-middle'>Settings</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='pages-account-settings-billing.html'>
              <span class='d-flex align-items-center align-middle'>
                <iconify-icon icon='streamline-plump-color:script-2' width='20px' height='20px'></iconify-icon>
                <span class='flex-grow-1 align-middle'>Billing Plan</span>
                <span class='flex-shrink-0 badge badge-center rounded-pill bg-danger'>4</span>
              </span>
            </a>
          </li>
          <li>
            <div class='dropdown-divider'></div>
          </li>
          <li>
            <a class='dropdown-item' href='pages-pricing.html'>
              <iconify-icon icon='streamline-plump-color:bitcoin-circle-1' width='20px' height='20px'></iconify-icon>
              <span class='align-middle'>Pricing</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='pages-faq.html'>
              <iconify-icon icon='streamline-plump-color:information-desk' width='20px' height='20px'></iconify-icon>
              <span class='align-middle'>FAQ</span>
            </a>
          </li>
          <li>
            <div class='d-grid px-4 pt-2 pb-1'>
              <a class='btn btn-sm btn-danger d-flex' href='/auth/logout'>
                <small class='align-middle'>Logout &nbsp;</small>
                <iconify-icon icon='streamline-plump-color:button-power-1' width='20px' height='20px'></iconify-icon>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>

<!-- / Navbar -->
