<!-- Navbar -->
<nav
  class='layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme'
  id='layout-navbar'>
  <div class='layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none'>
    <a class='nav-item nav-link px-0 me-xl-6' href='javascript:void(0)'>
      <iconify-icon icon='ri:menu-line' width='24' height='24' class='icon-base ri ri-menu-line icon-22px'
      ></iconify-icon>
    </a>
  </div>

  <div class='navbar-nav-right d-flex align-items-center justify-content-end' id='navbar-collapse'>
    <!-- Search -->
    <div class='navbar-nav align-items-center'>
      <div class='nav-item navbar-search-wrapper mb-0'>
        <a class='nav-item nav-link search-toggler px-0' href='javascript:void(0);'>
          <span class='d-inline-block text-body-secondary fw-normal' id='autocomplete'></span>
        </a>
      </div>
    </div>

    <!-- /Search -->

    <ul class='navbar-nav flex-row align-items-center ms-md-auto'>
      <li class='nav-item dropdown-language dropdown me-sm-2 me-xl-0'>
        <a
          class='nav-link dropdown-toggle hide-arrow btn btn-icon btn-text-secondary rounded-pill'
          href='javascript:void(0);'
          data-bs-toggle='dropdown'>
          <iconify-icon class='icon-base ri ri-translate-2 icon-22px' icon='ri:translate-ai-2' width='24' height='24'
          ></iconify-icon>
        </a>
        <ul class='dropdown-menu dropdown-menu-end'>
          <li>
            <a class='dropdown-item' href='javascript:void(0);' data-language='en' data-text-direction='ltr'>
              <span>English</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='javascript:void(0);' data-language='fr' data-text-direction='ltr'>
              <span>French</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='javascript:void(0);' data-language='ar' data-text-direction='rtl'>
              <span>Arabic</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='javascript:void(0);' data-language='de' data-text-direction='ltr'>
              <span>German</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ Language -->

      <!-- Quick links -->
      <li class='nav-item dropdown-shortcuts navbar-dropdown dropdown me-sm-2 me-xl-0'>
        <a
          class='nav-link dropdown-toggle hide-arrow btn btn-icon btn-text-secondary rounded-pill'
          href='javascript:void(0);'
          data-bs-toggle='dropdown'
          data-bs-auto-close='outside'
          aria-expanded='false'>
          <iconify-icon
            icon='ri:star-smile-line'
            width='24'
            height='24'
            class='icon-base ri ri-star-smile-line icon-22px'></iconify-icon>
        </a>
        <div class='dropdown-menu dropdown-menu-end p-0'>
          <div class='dropdown-menu-header border-bottom'>
            <div class='dropdown-header d-flex align-items-center py-3'>
              <h6 class='mb-0 me-auto'>Shortcuts</h6>
              <a
                href='javascript:void(0)'
                class='btn btn-text-secondary rounded-pill btn-icon dropdown-shortcuts-add text-heading'
                data-bs-toggle='tooltip'
                data-bs-placement='top'
                title='Add shortcuts'>
                <i class='icon-base ri ri-add-line text-heading'></i>
              </a>
            </div>
          </div>
          <div class='dropdown-shortcuts-list scrollable-container'>
            <div class='row row-bordered overflow-visible g-0'>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-calendar-line icon-26px text-heading'></i>
                </span>
                <a href='app-calendar.html' class='stretched-link'>Calendar</a>
                <small>Appointments</small>
              </div>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-file-text-line icon-26px text-heading'></i>
                </span>
                <a href='app-invoice-list.html' class='stretched-link'>Invoice App</a>
                <small>Manage Accounts</small>
              </div>
            </div>
            <div class='row row-bordered overflow-visible g-0'>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-user-line icon-26px text-heading'></i>
                </span>
                <a href='app-user-list.html' class='stretched-link'>User App</a>
                <small>Manage Users</small>
              </div>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-computer-line icon-26px text-heading'></i>
                </span>
                <a href='app-access-roles.html' class='stretched-link'>Role Management</a>
                <small>Permission</small>
              </div>
            </div>
            <div class='row row-bordered overflow-visible g-0'>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-pie-chart-2-line icon-26px text-heading'></i>
                </span>
                <a href='index.html' class='stretched-link'>Dashboard</a>
                <small>User Dashboard</small>
              </div>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-settings-4-line icon-26px text-heading'></i>
                </span>
                <a href='pages-account-settings-account.html' class='stretched-link'>Setting</a>
                <small>Account Settings</small>
              </div>
            </div>
            <div class='row row-bordered overflow-visible g-0'>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-question-line icon-26px text-heading'></i>
                </span>
                <a href='pages-faq.html' class='stretched-link'>FAQs</a>
                <small>FAQs & Articles</small>
              </div>
              <div class='dropdown-shortcuts-item col'>
                <span class='dropdown-shortcuts-icon rounded-circle mb-3'>
                  <i class='icon-base ri ri-tv-2-line icon-26px text-heading'></i>
                </span>
                <a href='modal-examples.html' class='stretched-link'>Modals</a>
                <small>Useful Popups</small>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- Quick links -->

      <!-- Notification -->
      <li class='nav-item dropdown-notifications navbar-dropdown dropdown me-4 me-xl-1'>
        <a
          class='nav-link dropdown-toggle hide-arrow btn btn-icon btn-text-secondary rounded-pill'
          href='javascript:void(0);'
          data-bs-toggle='dropdown'
          data-bs-auto-close='outside'
          aria-expanded='false'>
          <iconify-icon
            icon='ri:notification-2-line'
            width='24'
            height='24'
            class='icon-base ri ri-notification-2-line icon-22px'></iconify-icon>
          <span class='position-absolute top-0 start-50 translate-middle-y badge badge-dot bg-danger mt-2 border'
          ></span>
        </a>
        <ul class='dropdown-menu dropdown-menu-end py-0'>
          <li class='dropdown-menu-header border-bottom py-50'>
            <div class='dropdown-header d-flex align-items-center py-2'>
              <h6 class='mb-0 me-auto'>Notification</h6>
              <div class='d-flex align-items-center h6 mb-0'>
                <span class='badge rounded-pill bg-label-primary fs-xsmall me-2'>8 New</span>
                <a
                  href='javascript:void(0)'
                  class='dropdown-notifications-all p-2'
                  data-bs-toggle='tooltip'
                  data-bs-placement='top'
                  title='Mark all as read'><i class='icon-base ri ri-mail-open-line text-heading'></i></a
                >
              </div>
            </div>
          </li>
          <li class='dropdown-notifications-list scrollable-container'>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item list-group-item-action dropdown-notifications-item'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <img src='/img/avatars/1.png' alt='avatar' class='rounded-circle' />
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>Congratulation Lettie 🎉</h6>
                    <small class='mb-1 d-block text-body'>Won the monthly best seller gold badge</small>
                    <small class='text-body-secondary'>1h ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <span class='avatar-initial rounded-circle bg-label-danger'>CF</span>
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>Charles Franklin</h6>
                    <small class='mb-1 d-block text-body'>Accepted your connection</small>
                    <small class='text-body-secondary'>12hr ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item marked-as-read'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <img src='/img/avatars/2.png' alt='avatar' class='rounded-circle' />
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>New Message ✉️</h6>
                    <small class='mb-1 d-block text-body'>You have new message from Natalie</small>
                    <small class='text-body-secondary'>1h ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <span class='avatar-initial rounded-circle bg-label-success'
                        ><i class='icon-base ri ri-shopping-cart-2-line icon-18px'></i></span
                      >
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>Whoo! You have new order 🛒</h6>
                    <small class='mb-1 d-block text-body'>ACME Inc. made new order $1,154</small>
                    <small class='text-body-secondary'>1 day ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item marked-as-read'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <img src='/img/avatars/9.png' alt='avatar' class='rounded-circle' />
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>Application has been approved 🚀</h6>
                    <small class='mb-1 d-block text-body'>Your ABC project application has been approved.</small>
                    <small class='text-body-secondary'>2 days ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item marked-as-read'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <span class='avatar-initial rounded-circle bg-label-success'
                        ><i class='icon-base ri ri-pie-chart-2-line icon-18px'></i></span
                      >
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>Monthly report is generated</h6>
                    <small class='mb-1 d-block text-body'>July monthly financial report is generated </small>
                    <small class='text-body-secondary'>3 days ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item marked-as-read'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <img src='/img/avatars/5.png' alt='avatar' class='rounded-circle' />
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>Send connection request</h6>
                    <small class='mb-1 d-block text-body'>Peter sent you connection request</small>
                    <small class='text-body-secondary'>4 days ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <img src='/img/avatars/6.png' alt='avatar' class='rounded-circle' />
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>New message from Jane</h6>
                    <small class='mb-1 d-block text-body'>Your have new message from Jane</small>
                    <small class='text-body-secondary'>5 days ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
              <li class='list-group-item list-group-item-action dropdown-notifications-item marked-as-read'>
                <div class='d-flex'>
                  <div class='flex-shrink-0 me-3'>
                    <div class='avatar'>
                      <span class='avatar-initial rounded-circle bg-label-warning'
                        ><i class='icon-base ri ri-error-warning-line icon-18px'></i></span
                      >
                    </div>
                  </div>
                  <div class='flex-grow-1'>
                    <h6 class='small mb-1'>CPU is running high</h6>
                    <small class='mb-1 d-block text-body'>CPU Utilization Percent is currently at 88.63%,</small>
                    <small class='text-body-secondary'>5 days ago</small>
                  </div>
                  <div class='flex-shrink-0 dropdown-notifications-actions'>
                    <a href='javascript:void(0)' class='dropdown-notifications-read'
                      ><span class='badge badge-dot'></span></a
                    >
                    <a href='javascript:void(0)' class='dropdown-notifications-archive'
                      ><span class='icon-base ri ri-close-line'></span></a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class='border-top'>
            <div class='d-grid p-4'>
              <a class='btn btn-primary btn-sm d-flex' href='javascript:void(0);'>
                <small class='align-middle'>View all notifications</small>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <!--/ Notification -->

      <!-- User -->
      <li class='nav-item navbar-dropdown dropdown-user dropdown'>
        <a class='nav-link dropdown-toggle hide-arrow' href='javascript:void(0);' data-bs-toggle='dropdown'>
          <div class='avatar avatar-online'>
            <img src='/img/avatars/1.png' alt='avatar' class='rounded-circle' />
          </div>
        </a>
        <ul class='dropdown-menu dropdown-menu-end mt-3 py-2'>
          <li>
            <a class='dropdown-item' href='pages-account-settings-account.html'>
              <div class='d-flex align-items-center'>
                <div class='flex-shrink-0 me-2'>
                  <div class='avatar avatar-online'>
                    <img src='/img/avatars/1.png' alt='alt' class='w-px-40 h-auto rounded-circle' />
                  </div>
                </div>
                <div class='flex-grow-1'>
                  <h6 class='mb-0 small'>John Doe</h6>
                  <small class='text-body-secondary'>Admin</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class='dropdown-divider'></div>
          </li>
          <li>
            <a class='dropdown-item' href='pages-profile-user.html'>
              <i class='icon-base ri ri-user-3-line icon-22px me-3'></i><span class='align-middle'>My Profile</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='pages-account-settings-account.html'>
              <i class='icon-base ri ri-settings-4-line icon-22px me-3'></i><span class='align-middle'>Settings</span>
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='pages-account-settings-billing.html'>
              <span class='d-flex align-items-center align-middle'>
                <i class='flex-shrink-0 icon-base ri ri-file-text-line icon-22px me-3'></i>
                <span class='flex-grow-1 align-middle'>Billing Plan</span>
                <span class='flex-shrink-0 badge badge-center rounded-pill bg-danger'>4</span>
              </span>
            </a>
          </li>
          <li>
            <div class='dropdown-divider'></div>
          </li>
          <li>
            <a class='dropdown-item' href='pages-pricing.html'>
              <i class='icon-base ri ri-money-dollar-circle-line icon-22px me-3'></i><span class='align-middle'
                >Pricing</span
              >
            </a>
          </li>
          <li>
            <a class='dropdown-item' href='pages-faq.html'>
              <i class='icon-base ri ri-question-line icon-22px me-3'></i><span class='align-middle'>FAQ</span>
            </a>
          </li>
          <li>
            <div class='d-grid px-4 pt-2 pb-1'>
              <a class='btn btn-sm btn-danger d-flex' href='auth-login-cover.html' target='_blank'>
                <small class='align-middle'>Logout</small>
                <i class='icon-base ri ri-logout-box-r-line ms-2 icon-16px'></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>

<!-- / Navbar -->
