@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('UbuntuCondensed-Regular.woff2') format('woff2'),
        url('UbuntuCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

