<!--
		=====================================================
			Main Footer
		=====================================================
		-->
<div class="main-footer bg-one">
  <div class="container">
    <div class="position-relative">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-intro bg-color mb-30 me-xl-5">
            <a href="index.html"><img src="images/logo/logo_03.png" alt="" /></a
            >

            <ul class="contact-info style-none">
              <li>
                <img src="images/icon/icon_22.png" alt="" class="icon" />
                <p class="m0 d-flex flex-column">
                  <a href="tel:+088112233455">+088 11 22 33 455</a>
                  <a href="tel:+088112233455">+866 11 22 00 77</a>
                </p>
              </li>
              <li>
                <img src="images/icon/icon_23.png" alt="" class="icon" />
                28 Valencia Street, New York United States of America
              </li>
            </ul>
            <ul class="style-none social-icon d-flex align-items-center">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer-news mb-30 me-xxl-4">
            <h6 class="footer-title">Latest Post</h6>
            <ul class="style-none">
              <li>
                <article>
                  <div class="date">25 August 2024</div>
                  <h5 class="blog-title">
                    <a href="blog-details.html"
                      >Ocean carriers massively throwing their chassis
                    </a>
                  </h5>
                </article>
              </li>
              <li>
                <article>
                  <div class="date">24 August 2024</div>
                  <h5 class="blog-title">
                    <a href="blog-details.html"
                      >Preparing global supply chains for the second wave of
                      pandemic</a
                    >
                  </h5>
                </article>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="footer-nav mb-30">
            <h6 class="footer-title">Services</h6>
            <ul class="footer-nav-link style-none">
              <li><a href="service-details.html">Automobile</a></li>
              <li><a href="service-details.html">Machineries</a></li>
              <li><a href="service-details.html">Export Import</a></li>
              <li><a href="service-details.html">Cargo Freight</a></li>
              <li><a href="service-details.html">Frozen Food</a></li>
              <li><a href="service-details.html">Transporters</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-5">
          <div class="footer-newsletter mb-30">
            <h6 class="footer-title">Newsletter</h6>
            <p>
              Get the latest news, tips and latest messages, including special
              offers
            </p>
            <form action="#">
              <input type="email" placeholder="Email Address" />
              <button
                ><img
                  src="images/icon/icon_24.png"
                  alt=""
                  class="m-auto"
                /></button
              >
            </form>
            <div class="email">
              <div class="icon">
                <i class="fa-regular fa-envelope"></i>
              </div>
              <a href="mailto:logistic21@website.com">logistic21@website.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bottom-footer position-relative z-1">
      <p class="copyright-text text-center m0">
        ©2025 <a href="https://themeforest.net/user/themazine">TheMazine</a> All
        Rights Reserved
      </p>
      <img src="images/shape/shape_10.png" alt="" class="shapes shape_01" />
    </div>
  </div>
  <img
    src="images/shape/shape_11.png"
    alt=""
    class="shapes shape_02"
    data-sal="slide-right"
    data-sal-duration="1500"
    data-sal-delay="200"
  />
</div>
<!-- /.main-footer -->
