<!-- Search -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="searchToggle">
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close tran3s"
      data-bs-dismiss="offcanvas"
      aria-label="Close"><i class="fa-regular fa-xmark"></i></button
    >
  </div>
  <div class="offcanvas-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <form action="#" class="search-form">
            <input type="text" placeholder="Search Here...." />
            <button type="submit" class="tran3s"
              ><i class="fa-regular fa-search"></i></button
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
