---
import "@css/demo.css";
import "@vendor/css/pages/page-auth.css";
import "@vendor/css/rtl/core.css";
import "@vendor/css/rtl/theme-default.css";
import "@vendor/fonts/flag-icons.css";
import "@vendor/fonts/materialdesignicons.css";
import "@vendor/libs/@form-validation/form-validation.css";
import "@vendor/libs/node-waves/node-waves.css";
import "@vendor/libs/perfect-scrollbar/perfect-scrollbar.css";
import "@vendor/libs/typeahead-js/typeahead.css";
import JsModule from "~/components/Auth/JsModule.astro";

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/"
  data-template="horizontal-menu-template-no-customizer"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>{title} | MAU Apps</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet"
    />
    <!-- Helpers -->
  </head>

  <body>
    <!-- Content -->
    <slot />
    <JsModule />
    <!-- / Content -->
    <!-- file asli -->
  </body>
</html>
