---
const { title } = Astro.props;
import Tagline from "~/components/Blog/tagline.astro";
import Navbar from "~/components/Blog/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} - MAU App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Premium Bootstrap 5 Landing Page Template"
    />
    <meta
      name="keywords"
      content="Startup, Business, Multi-uses, HTML, Clean, Modern, Creative"
    />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="" />
    <meta name="website" content="" />
    <meta name="Version" content="v1.2.0" />
    <!-- favicon -->
    <link href="/blog/images/favicon.ico" rel="shortcut icon" />
    <!-- Bootstrap -->
    <link href="/blog/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/blog/css/tiny-slider.css" rel="stylesheet" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://unicons.iconscout.com/release/v3.0.6/css/line.css"
      rel="stylesheet"
    />
    <!-- Main Css -->
    <link
      href="/blog/css/style.css"
      rel="stylesheet"
      type="text/css"
      id="theme-opt"
    />
  </head>

  <body>
    <Navbar />
    <Tagline />

    <slot>
      <h1>Default nya di offeride sama slot</h1>
    </slot>
    <!-- Back to top -->

    <a
      href="javascript:void(0)"
      onclick="topFunction()"
      id="back-to-top"
      class="back-to-top rounded-pill"><i class="mdi mdi-arrow-up"></i></a
    >
    <!-- Back to top -->
    <script
      src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"
    ></script>
    <!-- javascript -->
    <script is:inline src="/blog/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/blog/js/tiny-slider.js"></script>
    <script is:inline src="/blog/js/feather.min.js"></script>
    <!-- Main Js -->
    <script is:inline src="/blog/js/plugins.init.js"
    ></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
    <script is:inline src="/blog/js/app.js"
    ></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
  </body>
</html>
