---
import Footer from "@components/Parsial/Footer.astro";
import Head from "@components/Parsial/Head.astro";
import Menu from "@components/Parsial/Menu.astro";
import Nav from "@components/Parsial/Nav.astro";
const { page, title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/"
  data-template="horizontal-menu-template-no-customizer-starter"
>
  <Head title={title} />
  <body>
    <!-- Layout wrapper -->
    <div
      class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu"
    >
      <div class="layout-container">
        <!-- Navbar -->
        <Nav />
        <!-- / Navbar -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Menu -->
            <Menu page={page} />
            <!-- / Menu -->

            <!-- Content -->
            <!-- slot untuk konten -->
            <slot />
            <!--/ Content -->

            <!-- Footer -->
            <Footer />
            <!-- / Footer -->
            <div class="content-backdrop fade"></div>
          </div>
          <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    <!-- <script src="@js/dashboards-analytics.js"></script>
    <script src="@js/app-logistics-dashboard.js"></script> -->

    <script src="@modules/apexcharts/dist/apexcharts.min.js"></script>

    <!-- jquery di import disini -->
    <script src="@modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@js/main.js"></script>
    <script src="@vendor/js/menu.js"></script>

    <!-- Slot untuk script tambahan halaman -->
    <slot name="scripts" />
  </body>
</html>
