---
// import '@assets/libs/node-waves/node-waves.scss';
// import '@assets/libs/pickr/pickr-themes.scss';
// import '@assets/scss/core.scss';
// import '@assets/scss/demo.css';
// import '@assets/scss/pages/front-page.scss';
// import '@assets/libs/nouislider/nouislider.scss';
// import '@assets/libs/swiper/swiper.scss';
// import '@assets/scss/pages/front-page-landing.scss';
const { title, description } = Astro.props;
import Footer from "../components/Front/Footer.astro";
import Navbar from "../components/Front/Navbar.astro";
---

<!doctype html>
<html
  lang='en'
  class='layout-navbar-fixed layout-wide'
  dir='ltr'
  data-skin='default'
  data-bs-theme='light'
  data-assets-path='/'
  data-template='front-pages'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'
    />
    <meta name='robots' content='noindex, nofollow' />
    <meta name='description' content='' />
    <title>{title}</title>
    <link rel='icon' type='image/x-icon' href='/img/favicon/favicon.ico' />
    <!-- Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/vendor/fonts/iconify-icons.css' />

    <!-- Core CSS -->
    <!-- build:css assets/vendor/css/theme.css -->

    <link rel='stylesheet' href='/vendor/libs/node-waves/node-waves.css' />

    <link rel='stylesheet' href='/vendor/libs/pickr/pickr-themes.css' />

    <link rel='stylesheet' href='/vendor/css/core.css' />
    <link rel='stylesheet' href='/css/demo.css' />

    <link rel='stylesheet' href='/vendor/css/pages/front-page.css' />

    <!-- Vendors CSS -->

    <!-- endbuild -->

    <link rel='stylesheet' href='/vendor/libs/nouislider/nouislider.css' />
    <link rel='stylesheet' href='/vendor/libs/swiper/swiper.css' />

    <!-- Page CSS -->

    <link rel='stylesheet' href='/vendor/css/pages/front-page-landing.css' />
    <script src='https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js'></script>
  </head>
  <body>
    <Navbar />
    <div data-bs-spy='scroll' class='scrollspy-example'>
      <slot />
    </div>
    <Footer />

    <!-- Vendors JS -->
    <script is:inline src='/js/front-page-landing.js'></script>
    <script is:inline src='/js/front-main.js'></script>
    <script is:inline src='/js/front-config.js'></script>

    <!-- Main JS -->
    <script src='@assets/js/app.js'></script>
    <script src='@assets/js/dropdown-hover.js'></script>
    <script src='@assets/js/mega-dropdown.js'></script>

    <script src='@assets/libs/jquery/jquery.js'></script>

    <script src='@assets/libs/popper/popper.js'></script>
    <script src='@assets/js/bootstrap.js'></script>
    <script src='@assets/libs/node-waves/node-waves.js'></script>

    <script src='@assets/libs/@algolia/autocomplete-js.js'></script>
    <script src='@assets/libs/pickr/pickr.js'></script>
    <script src='@assets/libs/nouislider/nouislider.js'></script>
    <script src='@assets/libs/swiper/swiper.js'></script>
  </body>
</html>
