---
// console.log(Astro.generator);
// import '@assets/libs/node-waves/node-waves.scss';
// import '@assets/scss/core.scss';
// import '@assets/scss/demo.css';
// import '@assets/libs/perfect-scrollbar/perfect-scrollbar.scss';

import Navbar from "../components/Back/Navbar.astro";
import Menu from "../components/Back/Menu.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang='en'
  class='layout-navbar-fixed layout-menu-fixed layout-compact'
  dir='ltr'
  data-skin='default'
  data-bs-theme='light'
  data-assets-path='/'
  data-template='vertical-menu-template'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'
    />
    <meta name='robots' content='noindex, nofollow' />
    <title>{title}</title>

    <meta name='description' content={Astro.generator} />

    <!-- Favicon -->
    <link rel='icon' type='image/x-icon' href='/img/favicon/favicon.ico' />

    <!-- Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/vendor/libs/node-waves/node-waves.css' />
    <link rel='stylesheet' href='/vendor/css/core.css' />
    <link rel='stylesheet' href='/css/demo.css' />

    <!-- Vendors CSS -->

    <link rel='stylesheet' href='/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' />
    <link rel='stylesheet' href='/vendor/libs/datatables-bs5/datatables.bootstrap5.css' />
    <link rel='stylesheet' href='/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' />
    <link rel='stylesheet' href='/vendor/libs/datatables-select-bs5/select.bootstrap5.css' />
    <link rel='stylesheet' href='/vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' />
    <link rel='stylesheet' href='/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' />
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class='layout-wrapper layout-content-navbar'>
      <div class='layout-container'>
        <!-- Menu -->

        <Menu />

        <div class='menu-mobile-toggler d-xl-none rounded-1'>
          <a href='javascript:void(0);' class='layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1'>
            <i class='ri ri-menu-line icon-base'></i>
            <i class='ri ri-arrow-right-s-line icon-base'></i>
          </a>
        </div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class='layout-page'>
          <!-- Navbar -->
          <Navbar />
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class='content-wrapper'>
            <!-- Content -->
            <div class='container-xxl flex-grow-1 container-p-y'>
              <slot />
            </div>

            <div class='content-backdrop fade'></div>
            <!-- Footer -->
            <footer class='content-footer footer bg-footer-theme'>
              <div class='container-xxl'>
                <div
                  class='footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column'>
                  <div class='mb-2 mb-md-0'>
                    &#169;
                    <script is:inline>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by
                    <a href='https://pixinvent.com' target='_blank' class='footer-link fw-medium'>Pixinvent</a>
                  </div>
                  <div class='d-none d-lg-inline-block'>
                    <a href='https://themeforest.net/user/pixinvent/portfolio' target='_blank' class='footer-link me-4'
                      >More Themes</a
                    >
                    <a
                      href='https://demos.pixinvent.com/materialize-html-admin-template/documentation/'
                      target='_blank'
                      class='footer-link me-4'>Documentation</a
                    >
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class='content-backdrop fade'></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class='layout-overlay layout-menu-toggle'></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class='drag-target'></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->

    <!-- build:js assets/vendor/js/theme.js  -->
    <!-- Vendors JS -->
    <script src='@assets/js/main.js'></script>
    <!-- Main JS -->
    <script src='@assets/js/app.js'></script>

    <script src='@assets/js/menu.js'></script>
    <script src='https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js'></script>

    <script src='@assets/libs/node-waves/node-waves.js'></script>
    <script src='@assets/libs/@algolia/autocomplete-js.js'></script>
    <script src='@assets/libs/perfect-scrollbar/perfect-scrollbar.js'></script>
    <script src='@assets/libs/hammer/hammer.js'></script>

    <slot name='scripts' />
    <!-- ini ngin saya passing dari komponent -->

    <script src='@assets/libs/datatables-bs5/datatables-bootstrap5.js'></script>

    <script src='@assets/js/bootstrap.js'></script>
    <script src='@assets/libs/popper/popper.js'></script>
    <script src='@assets/libs/jquery/jquery.js'></script>
    <!-- endbuild -->

    <!-- Page JS -->
  </body>
</html>
