---
import Layout from "@layouts/Layout.astro";
import RouteTable from "~/components/Logistic/RouteTable.astro";
---

<Layout title="Data Invoice" page="Data inv">
  <div class="container-xxl flex-grow-1 container-p-y">
    <RouteTable />
  </div>
</Layout>
