---
import Layout from "@layouts/Layout.astro";
import DTBARU from "~/components/DatatablesComponent.astro";

const column = [
  "NO_INVOICE",
  "TANGGAL",
  "SMU",
  "KDAIRLINE",
  "FLIGHT_NUMBER",
  "DOM_INT",
  "INC_OUT",
  "ASAL",
  "TUJUAN",
  "JENIS_KARGO",
  "TARIF_KARGO",
  "KOLI",
  "BERAT",
  "VOLUME",
  "JML_HARI",
  "CARGO_CHG",
  "KADE",
  "TOTAL_PENDAPATAN_TANPA_PPN",
  "TOTAL_PENDAPATAN_DENGAN_PPN",
  "PJT_HANDLING_FEE",
  "RUSH_HANDLING_FEE",
  "RUSH_SERVICE_FEE",
  "TRANSHIPMENT_FEE",
  "ADMINISTRATION_FEE",
  "DOCUMENTS_FEE",
  "PECAH_PU_FEE",
  "COOL_COLD_STORAGE_FEE",
  "STRONG_ROOM_FEE",
  "AC_ROOM_FEE",
  "DG_ROOM_FEE",
  "AVI_ROOM_FEE",
  "DANGEROUS_GOOD_CHECK_FEE",
  "DISCOUNT_FEE",
  "RKSP_FEE",
  "HAWB",
  "HAWB_FEE",
  "HAWB_MAWB_FEE",
  "CSC_FEE",
  "ENVIROTAINER_ELEC_FEE",
  "ADDITIONAL_COSTS",
  "NAWB_FEE",
  "BARCODE_FEE",
  "CARGO_DEVELOPMENT_FEE",
  "DUTIABLE_SHIPMENT_FEE",
  "FHL_FEE",
  "FWB_FEE",
  "CARGO_INSPECTION_REPORT_FEE",
  "MATERAI_FEE",
  "PPN_FEE",
];
const addColumn = ["Detail", "boolean:status"];
---

<Layout title="Data Invoice" page="Data inv">
  <Fragment slot="scripts">
    <script src="@js/module/data-invoice.js"></script>
  </Fragment>

  <div class="container-xxl flex-grow-1 container-p-y">
    <DTBARU
      addColumn={addColumn}
      column={column}
      dataPath="/angkasapura/datatables"
    />
  </div>
</Layout>
