<!--
		=====================================================
			Blog Section One
		=====================================================
		-->
<div class="blog-section-one pb-130 lg-pb-80">
  <div class="container">
    <div class="row">
      <div class="col-xxl-10 col-lg-7 m-auto">
        <div
          class="title-one text-center mb-40 lg-mb-30"
          data-sal="slide-up"
          data-sal-duration="900"
        >
          <div class="upper-title justify-content-center">
            <img src="images/icon/icon_09.png" alt="" class="me-2 icon" />
            <span>Our Articles</span>
            <img src="images/icon/icon_09.png" alt="" class="ms-2 icon" />
          </div>
          <h2>Our Latest Articles Post From Blog</h2>
        </div>
        <!-- /.title-one -->
      </div>
    </div>
  </div>

  <div class="box-layout-two">
    <div class="row">
      <div
        class="col-lg-3 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
      >
        <article class="blog-meta-one mt-30">
          <div
            class="img-meta"
            style="background-image: url(images/blog/blog_img_01.jpg);"
          >
          </div>
          <div class="post-info">
            <ul class="style-none tags d-flex flex-wrap">
              <li><a href="blog-details.html">25 August 2024</a></li>
              <li class="ms-auto">
                <a href="blog-details.html"
                  >Read More <i class="fa-regular fa-arrow-right-long"></i></a
                >
              </li>
            </ul>
          </div>
          <!-- /.post-info -->
          <div class="post-meta">
            <ul class="style-none post-author d-flex flex-wrap">
              <li>
                <i class="fa-solid fa-user"></i>
                <a href="blog-details.html">By Admin</a>
              </li>
              <li>
                <i class="fa-solid fa-comment"></i>
                <a href="blog-details.html">04 Comment</a>
              </li>
            </ul>
            <h4 class="blog-title">
              <a href="blog-details.html"
                >Expectations In The Logistics Industry For 2024</a
              >
            </h4>
          </div>
          <!-- /.post-meta -->
        </article>
        <!-- /.blog-meta-one -->
      </div>
      <div
        class="col-lg-3 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="100"
      >
        <article class="blog-meta-one mt-30">
          <div
            class="img-meta"
            style="background-image: url(images/blog/blog_img_02.jpg);"
          >
          </div>
          <div class="post-info">
            <ul class="style-none tags d-flex flex-wrap">
              <li><a href="blog-details.html">21 July 2024</a></li>
              <li class="ms-auto">
                <a href="blog-details.html"
                  >Read More <i class="fa-regular fa-arrow-right-long"></i></a
                >
              </li>
            </ul>
          </div>
          <!-- /.post-info -->
          <div class="post-meta">
            <ul class="style-none post-author d-flex flex-wrap">
              <li>
                <i class="fa-solid fa-user"></i>
                <a href="blog-details.html">By Admin</a>
              </li>
              <li>
                <i class="fa-solid fa-comment"></i>
                <a href="blog-details.html">07 Comment</a>
              </li>
            </ul>
            <h4 class="blog-title">
              <a href="blog-details.html"
                >Curzon Helps Highways England Accelerate Transformation</a
              >
            </h4>
          </div>
          <!-- /.post-meta -->
        </article>
        <!-- /.blog-meta-one -->
      </div>
      <div
        class="col-lg-3 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="200"
      >
        <article class="blog-meta-one mt-30">
          <div
            class="img-meta"
            style="background-image: url(images/blog/blog_img_03.jpg);"
          >
          </div>
          <div class="post-info">
            <ul class="style-none tags d-flex flex-wrap">
              <li><a href="blog-details.html">15 March 2024</a></li>
              <li class="ms-auto">
                <a href="blog-details.html"
                  >Read More <i class="fa-regular fa-arrow-right-long"></i></a
                >
              </li>
            </ul>
          </div>
          <!-- /.post-info -->
          <div class="post-meta">
            <ul class="style-none post-author d-flex flex-wrap">
              <li>
                <i class="fa-solid fa-user"></i>
                <a href="blog-details.html">By Admin</a>
              </li>
              <li>
                <i class="fa-solid fa-comment"></i>
                <a href="blog-details.html">06 Comment</a>
              </li>
            </ul>
            <h4 class="blog-title">
              <a href="blog-details.html"
                >Challenging Waters For Global Container Carrier Industry</a
              >
            </h4>
          </div>
          <!-- /.post-meta -->
        </article>
        <!-- /.blog-meta-one -->
      </div>
      <div
        class="col-lg-3 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="300"
      >
        <article class="blog-meta-one mt-30">
          <div
            class="img-meta"
            style="background-image: url(images/blog/blog_img_04.jpg);"
          >
          </div>
          <div class="post-info">
            <ul class="style-none tags d-flex flex-wrap">
              <li><a href="blog-details.html">11 July 2024</a></li>
              <li class="ms-auto">
                <a href="blog-details.html"
                  >Read More <i class="fa-regular fa-arrow-right-long"></i></a
                >
              </li>
            </ul>
          </div>
          <!-- /.post-info -->
          <div class="post-meta">
            <ul class="style-none post-author d-flex flex-wrap">
              <li>
                <i class="fa-solid fa-user"></i>
                <a href="blog-details.html">By Admin</a>
              </li>
              <li>
                <i class="fa-solid fa-comment"></i>
                <a href="blog-details.html">03 Comment</a>
              </li>
            </ul>
            <h4 class="blog-title">
              <a href="blog-details.html"
                >Why The Future Of Fashion Must Include Reverse Logistics</a
              >
            </h4>
          </div>
          <!-- /.post-meta -->
        </article>
        <!-- /.blog-meta-one -->
      </div>
    </div>
  </div>
</div>
<!-- /.blog-section-one -->
