<!--
		=====================================================
			Card Style One
		=====================================================
		-->
<div class="mt-110 lg-mt-70 mb-130 lg-mb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
      >
        <div
          class="card-style-one text-center position-relative z-1 tran3s mt-25"
        >
          <div
            class="icon m-auto rounded-circle d-flex align-items-center justify-content-center"
          >
            <img src="images/icon/icon_04.png" alt="" class="m-auto" />
          </div>
          <h4 class="tran3s">Road Transport</h4>
          <p class="fs-16 font-poppins tran3s">
            At vero eos et accusamus et iusto odio dignissimos ducimus
          </p>
          <a href="service-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.card-style-one -->
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="200"
      >
        <div
          class="card-style-one text-center position-relative z-1 tran3s mt-25"
        >
          <div
            class="icon m-auto rounded-circle d-flex align-items-center justify-content-center"
          >
            <img src="images/icon/icon_05.png" alt="" class="m-auto" />
          </div>
          <h4 class="tran3s">Sea Transport</h4>
          <p class="fs-16 font-poppins tran3s">
            At vero eos et accusamus et iusto odio dignissimos ducimus
          </p>
          <a href="service-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.card-style-one -->
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="400"
      >
        <div
          class="card-style-one text-center position-relative z-1 tran3s mt-25"
        >
          <div
            class="icon m-auto rounded-circle d-flex align-items-center justify-content-center"
          >
            <img src="images/icon/icon_06.png" alt="" class="m-auto" />
          </div>
          <h4 class="tran3s">Air Freight</h4>
          <p class="fs-16 font-poppins tran3s">
            At vero eos et accusamus et iusto odio dignissimos ducimus
          </p>
          <a href="service-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.card-style-one -->
      </div>
    </div>
  </div>
</div>
