<!--
		=====================================================
			Counter Section One
		=====================================================
		-->
<div class="counter-section-one position-relative z-1 pt-45 pb-75">
  <div class="box-layout-one">
    <div class="row">
      <div
        class="col-lg-3 col-sm-6"
        data-sal="slide-up"
        data-sal-duration="900"
      >
        <div class="counter-box-one text-center mt-30">
          <div
            class="main-count d-flex align-items-center justify-content-center"
          >
            <span class="counter">99</span>%+
          </div>
          <p>On-Time Delivery</p>
        </div>
      </div>
      <div
        class="col-lg-3 col-sm-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="200"
      >
        <div class="counter-box-one text-center mt-30">
          <div
            class="main-count d-flex align-items-center justify-content-center"
          >
            <span class="counter">50</span>k+
          </div>
          <p>Truckloads Per Month</p>
        </div>
      </div>
      <div
        class="col-lg-3 col-sm-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="400"
      >
        <div class="counter-box-one text-center mt-30">
          <div
            class="main-count d-flex align-items-center justify-content-center"
          >
            <span class="counter">300</span>k+
          </div>
          <p>Omnichannel Shipments <br /> Fulfilled Per Month</p>
        </div>
      </div>
      <div
        class="col-lg-3 col-sm-6"
        data-sal="slide-up"
        data-sal-duration="900"
        data-sal-delay="600"
      >
        <div class="counter-box-one text-center mt-30">
          <div
            class="main-count d-flex align-items-center justify-content-center"
          >
            <span class="counter">3.7</span>M+
          </div>
          <p>Square Feet of Warehouse Space</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-layout-one -->
</div>
<!-- /.counter-section-one -->
