<!-- CTA Start -->
<div class="container-fluid px-0">
  <div
    class="py-5 position-relative"
    style="background: url('images/cta02.jpg') center;"
  >
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container my-5">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7">
          <h4 class="display-6 h4 mb-0 text-white title-dark fw-medium">
            Make your website unforgettable <br /> Join the Starty community.
          </h4>
        </div><!--end col-->

        <div class="col-lg-4 col-md-5 text-md-end mt-4 mt-sm-0">
          <a href="javascript:void(0)" class="btn btn-light">Join us Now</a>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end bg image-->
</div><!--end container-->
<!-- CTA End -->
