<!--
		=====================================================
			Fancy Banner One
		=====================================================
		-->
<div class="fancy-banner-one position-relative z-1 style-one">
  <div class="container">
    <div class="row">
      <div class="col-xxl-10 col-lg-9 ms-auto">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <h2>We ensure safe transportation & delivery</h2>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-center justify-content-lg-end">
              <a href="contact.html" class="btn-three xl">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.fancy-banner-one -->
