<!--
		=====================================================
			Feature Block Three
		=====================================================
		-->
<div class="feature-block-three pt-100 lg-pt-80 pb-100 lg-pb-80">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 m-auto">
        <div
          class="title-one text-center mb-65 lg-mb-50"
          data-sal="slide-up"
          data-sal-duration="900"
        >
          <div class="upper-title justify-content-center">
            <img src="images/icon/icon_09.png" alt="" class="me-2 icon" />
            <span>OUR WORK PROCESS</span>
            <img src="images/icon/icon_09.png" alt="" class="ms-2 icon" />
          </div>
          <h2>One-Stop-Shop: <br /> Door-To -Door Delivery</h2>
        </div>
        <!-- /.title-one -->
      </div>
    </div>

    <div
      class="bottom-line position-relative z-1"
      data-sal="slide-up"
      data-sal-duration="900"
    >
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6"
          data-sal="slide-up"
          data-sal-duration="900"
        >
          <div class="card-style-three mb-70">
            <div class="text-meta text-center">
              <h4>Documentation</h4>
              <p>Lorem ipsum dolor sit amet consect. Nec ullamcorper mattis</p>
              <div class="place">First</div>
            </div>
            <!-- /.text-meta -->
            <img
              src="images/media/img_14.jpg"
              alt=""
              class="rounded-circle img-meta"
            />
            <div class="numb rounded-circle">01</div>
          </div>
          <!-- /.card-style-three -->
        </div>
        <div
          class="col-lg-4 col-md-6"
          data-sal="slide-up"
          data-sal-duration="900"
          data-sal-delay="200"
        >
          <div class="card-style-three mb-70">
            <div class="text-meta text-center">
              <h4>Transportation</h4>
              <p>Lorem ipsum dolor sit amet consect. Nec ullamcorper mattis</p>
              <div class="place">Second</div>
            </div>
            <!-- /.text-meta -->
            <img
              src="images/media/img_15.jpg"
              alt=""
              class="rounded-circle img-meta"
            />
            <div class="numb rounded-circle">02</div>
          </div>
          <!-- /.card-style-three -->
        </div>
        <div
          class="col-lg-4 col-md-6"
          data-sal="slide-up"
          data-sal-duration="900"
          data-sal-delay="400"
        >
          <div class="card-style-three mb-70">
            <div class="text-meta text-center">
              <h4>Receiving Goods</h4>
              <p>Lorem ipsum dolor sit amet consect. Nec ullamcorper mattis</p>
              <div class="place">Third</div>
            </div>
            <!-- /.text-meta -->
            <img
              src="images/media/img_16.jpg"
              alt=""
              class="rounded-circle img-meta"
            />
            <div class="numb rounded-circle">03</div>
          </div>
          <!-- /.card-style-three -->
        </div>
      </div>
      <div class="line"></div>
    </div>
    <!-- /.bottom-line -->
  </div>
</div>
<!-- /.feature-block-three -->
