<!-- Footer Start -->
<footer class="footer bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-py-60">
          <div class="row">
            <div
              class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 order-4 order-md-1"
            >
              <ul class="list-unstyled social-icon foot-social-icon mb-0">
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i
                      class="uil uil-shopping-cart align-middle"
                      title="Buy Now"></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-dribbble align-middle" title="dribbble"
                    ></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-behance" title="Behance"></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-linkedin" title="Linkedin"></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-facebook-f align-middle" title="facebook"
                    ></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-instagram align-middle" title="instagram"
                    ></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-twitter align-middle" title="twitter"
                    ></i></a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="mailto:support@shreethemes.in" class="rounded"
                    ><i class="uil uil-envelope align-middle" title="email"
                    ></i></a
                  >
                </li>

                <li class="list-inline-item">
                  <a href="#" target="_blank" class="rounded"
                    ><i class="uil uil-file align-middle" title="customization"
                    ></i></a
                  >
                </li>
              </ul><!--end icon-->
            </div><!--end col-->

            <div class="col-lg-3 col-md-3 col-12 order-1 order-md-2">
              <h6 class="footer-head">Company</h6>
              <ul class="list-unstyled footer-list mt-4">
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> About us</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Services</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Team</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Pricing</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Blog</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Project</a
                  >
                </li>
              </ul>
            </div><!--end col-->

            <div
              class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 order-2 order-md-3"
            >
              <h6 class="footer-head">Usefull Links</h6>
              <ul class="list-unstyled footer-list mt-4">
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Contact Us</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Changelog</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Components</a
                  >
                </li>
              </ul>
            </div><!--end col-->

            <div
              class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 order-3 order-md-4"
            >
              <h6 class="footer-head">Resources</h6>
              <ul class="list-unstyled footer-list mt-4">
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Theme guide</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Support desk</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> What we offer</a
                  >
                </li>
                <li>
                  <a href="#" class="text-foot"
                    ><i class="uil uil-angle-right-b me-1"></i> Company history</a
                  >
                </li>
              </ul>
            </div><!--end col-->
          </div><!--end row-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="footer-py-30 footer-bar bg-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-4">
          <div class="text-sm-start text-center">
            <a href="#">
              <img src="/blog/images/logo-light.png" height="26" alt="" />
            </a>
          </div>
        </div><!--end col-->

        <div class="col-sm-8 mt-4 mt-sm-0">
          <div class="text-sm-end text-center">
            <p class="mb-0 text-muted">
              <script is:inline>
                document.write(new Date().getFullYear());
              </script> © Starty. Design with <i
                class="mdi mdi-heart text-danger"></i> by <a
                href="#"
                target="_blank"
                class="text-reset">Shreethemes</a
              >.
            </p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div>
</footer><!--end footer-->
<!-- End -->
