<!--
		=====================================================
			Feature Block One
		=====================================================
		-->
<div
  class="feature-block-one position-relative z-1 pt-120 lg-pt-80 pb-120 lg-pb-80"
>
  <div class="container xl">
    <div class="row">
      <div
        class="col-lg-7 order-lg-last d-flex"
        data-sal="slide-left"
        data-sal-duration="900"
      >
        <div class="ps-lg-5 w-100">
          <div class="title-one mb-35">
            <div class="upper-title">
              <span>About Company</span>
              <img src="images/icon/icon_09.png" alt="" class="ms-2 icon" />
            </div>
            <h2>Your Partner in Logistics Excellence</h2>
          </div>
          <!-- /.title-one -->
          <div class="row">
            <div class="col-xxl-11">
              <p>
                Your partner in logistics excellence. Lorem ipsum dolor sit
                amet, consectetur adipiscing do eiusmod tempor incididunt labore
              </p>
              <ul class="style-none list-style-one mt-30 mb-20">
                <li>Shipments to every point in the world</li>
                <li>High operational capability</li>
                <li>
                  Organic honey is produced from the pollen of organically grown
                  plants,
                </li>
              </ul>
              <!-- /.list-style-one -->
              <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-5">
                  <div class="box d-flex align-items-center mt-15">
                    <img src="images/icon/icon_07.png" alt="" class="icon" />
                    <strong>Maritime Transport</strong>
                  </div>
                  <!-- /.box -->
                </div>
                <div class="col-xl-5 col-lg-12 col-md-5">
                  <div class="box d-flex align-items-center mt-15">
                    <img src="images/icon/icon_08.png" alt="" class="icon" />
                    <strong>Intermodal Services</strong>
                    <img
                      src="images/shape/shape_03.png"
                      alt=""
                      class="shapes shape_01"
                    />
                  </div>
                  <!-- /.box -->
                </div>
              </div>
              <div class="d-sm-flex flex-wrap align-items-center mt-20 mb-25">
                <div
                  class="support-btn d-flex align-items-center mt-15 me-sm-5"
                >
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_03.png" alt="" />
                  </div>
                  <div class="ps-3">
                    <h6>Have Question</h6>
                    <a href="#">+88 5700 30 101</a>
                  </div>
                </div>
                <div class="mt-15">
                  <a href="about.html" class="btn-one xl">Learn More</a>
                </div>
              </div>
              <p class="m0">
                Safe and secure service from all sectors with the most efficient
                transportation network in all tonnages
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-5 col-md-8 me-auto ms-auto d-flex"
        data-sal="slide-right"
        data-sal-duration="900"
      >
        <div
          class="media-bg position-relative z-1 w-100"
          style="background-image: url(images/media/img_06.jpg);"
        >
          <div class="experience-box">
            <img src="images/assets/screen_01.png" alt="" />
            <div
              class="main-count d-flex align-items-center justify-content-center"
            >
              <span class="counter">20</span>
            </div>
          </div>
        </div>
        <!-- /.media-bg -->
      </div>
    </div>
  </div>
  <img src="images/shape/shape_04.png" alt="" class="shapes shape_02" />
  <img
    src="images/shape/shape_05.png"
    alt=""
    class="shapes shape_03"
    data-sal="slide-right"
    data-sal-duration="1200"
    data-sal-delay="500"
  />
</div>
<!-- /.feature-block-one -->
