<!-- 
		=============================================
			Hero Banner
		============================================== 
		-->
<div
  class="hero-banner-one header-space-fix position-relative z-1 pt-190 lg-pt-130 pb-150 lg-pb-120"
>
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-10 col-md-11">
        <div
          class="slogan d-inline-flex align-items-center"
          data-sal="slide-up"
          data-sal-duration="900"
        >
          <img src="images/shape/shape_01.png" alt="" />
          <span>Mitra Adira Utama</span>
          <img src="images/shape/shape_02.png" alt="" />
        </div>
        <style is:global>
          .text-banner {
            font-size: 3em !important;
            background: linear-gradient(90deg, #ffffff, #fffefe, #d8d6d6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; /* untuk Safari & Chrome */
            background-clip: text; /* untuk browser lain */
            color: transparent; /* fallback */
          }
        </style>
        <h5
          class="hero-heading text-banner"
          data-sal="slide-up"
          data-sal-duration="900"
          data-sal-delay="300"
        >
          Most Reliable Logistics Warehouse & Supply Chain Operations
        </h5>
        <div class="row">
          <div class="col-xl-8 col-lg-10">
            <p
              class="fs-16 font-poppins"
              data-sal="slide-up"
              data-sal-duration="900"
              data-sal-delay="500"
            >
              We are a global logistics warehouse company that provides
              customized services to clients while adhering to the highest
              standards of modern supply chain regulations.
            </p>
          </div>
        </div>
        <div
          class="mt-25"
          data-sal="slide-up"
          data-sal-duration="900"
          data-sal-delay="700"
        >
          <a href="#" class="btn-one xl">Discover more</a>
        </div>
        <div
          class="country-flags d-flex align-items-center mt-35"
          data-sal="slide-up"
          data-sal-duration="900"
          data-sal-delay="900"
        >
          <ul class="style-none d-flex align-items-center">
            <li>
              <img
                src="images/media/indonesia.png"
                alt=""
                class="flag rounded-circle"
              />
            </li>
            <li>
              <img
                src="images/media/img_03.png"
                alt=""
                class="flag rounded-circle"
              />
            </li>
            <li>
              <img
                src="images/media/img_04.png"
                alt=""
                class="flag rounded-circle"
              />
            </li>
            <li><i class="fa-regular fa-plus"></i></li>
          </ul>
          <p>20 Country Operation</p>
        </div>
      </div>
    </div>
  </div>

  <img
    src="images/media/img_05.png"
    alt=""
    class="shapes screen_01"
    data-sal="slide-left"
    data-sal-duration="900"
    data-sal-delay="900"
  />
</div>
<!-- /.hero-banner-one -->
