<!-- Hero Start -->
<section
  class="bg-half-170 bg-light pb-0 d-table w-100"
  style="background: url('images/corporate02.png') center center;"
>
  <div class="container">
    <div class="row mt-1 align-items-center">
      <div class="col-lg-7 col-md-6">
        <div class="title-heading">
          <h4
            class="display-3 mb-1 fw-bold title-dark"
            style="font-size: 3em !important; line-height: 1 !important;"
          >
            Focus on your core business. <br /> We'll handle the logistics, and you'll
            see the growth
          </h4>
          <p class="para-desc text-muted">
            Leverage our innovations to simplify your supply chain. We use
            advanced technology to deliver faster, smarter, and more efficient
            solutions.
          </p>
          <div class="mt-4 pt-2">
            <a
              href="javascript:void(0)"
              class="btn btn-lg btn-pills btn-primary">Work with us</a
            >
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-5 col-md-6 mt-5 mt-sm-0">
        <img src="images/corporate03.png" class="img-fluid" alt="" />
      </div>
    </div><!--end row-->
  </div>
  <!--end container-->
</section><!--end section-->
<!-- Hero End -->
