---
const token = Astro.cookies.get("auth_token")?.value;
---

<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky tagline-height">
  <div class="container">
    <!-- Logo container-->
    <a class="logo" href="#">
      <img src="/blog/images/logo2.png" class="logo-light-mode" alt="" />
      <img src="/blog/images/logo2.png" class="logo-dark-mode" alt="" />
    </a>
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <ul class="buy-button list-inline mb-0">
      <li class="list-inline-item search-icon mb-0">
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-link text-decoration-none dropdown-toggle mb-0 p-0"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="uil uil-search h5 text-dark mb-0"></i>
          </button>
          <div
            class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-4 py-0"
            style="width: 300px;"
          >
            <form class="p-4">
              <input
                type="text"
                id="text"
                name="name"
                class="form-control border bg-white"
                placeholder="Search..."
              />
            </form>
          </div>
        </div>
      </li>
    </ul>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu nav-right" id="main-menu">
        <li class="has-submenu parent-parent-menu-item">
          <a href="/blog/"> </a>
        </li>
        <li>
          <a href="/blog/about-us/" class="sub-menu-item"> </a>
        </li>
        <li>
          <a href="/blog/our-expertise/" class="sub-menu-item"> </a>
        </li>
        <li>
          <a href="/blog/our-network/" class="sub-menu-item"> </a>
        </li>
        <li>
          <a href="#" class="sub-menu-item"> </a>
        </li>
        <li>
          <a href="#" class="sub-menu-item"> </a>
        </li>
        <li>
          <a href="#" class="sub-menu-item"> </a>
        </li>
        {
          token ? (
            <li>
              <a href="/blog/dashboard/" class="sub-menu-item">
                Dashboard
              </a>
            </li>
          ) : (
            <li>
              <a href="/auth/login/" class="sub-menu-item">
                Login
              </a>
            </li>
          )
        }
      </ul><!--end navigation menu-->
    </div><!--end navigation-->
  </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->
