<!--
		=====================================================
			Project Section One
		=====================================================
		-->
<div
  class="project-section-one position-relative z-1 pt-120 lg-pt-100 pb-120 lg-pb-100"
>
  <div class="container">
    <div
      class="title-one text-center mb-80 lg-mb-40"
      data-sal="slide-up"
      data-sal-duration="900"
    >
      <div class="upper-title justify-content-center">
        <img src="images/icon/icon_09.png" alt="" class="me-2 icon" />
        <span>Our Portfolio</span>
        <img src="images/icon/icon_09.png" alt="" class="ms-2 icon" />
      </div>
      <h2>Our Completed Works</h2>
    </div>
    <!-- /.title-one -->
  </div>

  <div class="box-layout-one">
    <div class="project-slider-one">
      <div class="item">
        <div
          class="project-block-one position-relative z-1"
          style="background-image: url(images/media/img_17.jpg);"
        >
          <div
            class="icon d-flex align-items-center justify-content-center tran3s"
          >
            <img src="images/icon/icon_21.png" alt="" />
          </div>
          <div class="info text-center">
            <div class="tags">Ship Logistics</div>
            <h5>20 Tons Of Oil Has Been Sent To The Ship</h5>
          </div>
          <!-- /.info -->
          <a href="project-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.project-block-one -->
      </div>
      <div class="item">
        <div
          class="project-block-one position-relative z-1"
          style="background-image: url(images/media/img_18.jpg);"
        >
          <div
            class="icon d-flex align-items-center justify-content-center tran3s"
          >
            <img src="images/icon/icon_21.png" alt="" />
          </div>
          <div class="info text-center">
            <div class="tags">Ship Logistics</div>
            <h5>Transporting Food Items Requires Extra Care</h5>
          </div>
          <!-- /.info -->
          <a href="project-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.project-block-one -->
      </div>
      <div class="item">
        <div
          class="project-block-one position-relative z-1"
          style="background-image: url(images/media/img_19.jpg);"
        >
          <div
            class="icon d-flex align-items-center justify-content-center tran3s"
          >
            <img src="images/icon/icon_21.png" alt="" />
          </div>
          <div class="info text-center">
            <div class="tags">Ship Logistics</div>
            <h5>30 Tons Of Rice Has Been Sent To Indonesia</h5>
          </div>
          <!-- /.info -->
          <a href="project-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.project-block-one -->
      </div>
      <div class="item">
        <div
          class="project-block-one position-relative z-1"
          style="background-image: url(images/media/img_20.jpg);"
        >
          <div
            class="icon d-flex align-items-center justify-content-center tran3s"
          >
            <img src="images/icon/icon_21.png" alt="" />
          </div>
          <div class="info text-center">
            <div class="tags">Ship Logistics</div>
            <h5>10 Tons Of Clothes Has Been Sent To US</h5>
          </div>
          <!-- /.info -->
          <a href="project-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.project-block-one -->
      </div>
      <div class="item">
        <div
          class="project-block-one position-relative z-1"
          style="background-image: url(images/media/img_21.jpg);"
        >
          <div
            class="icon d-flex align-items-center justify-content-center tran3s"
          >
            <img src="images/icon/icon_21.png" alt="" />
          </div>
          <div class="info text-center">
            <div class="tags">Ship Logistics</div>
            <h5>Transportation In Most Tonnage</h5>
          </div>
          <!-- /.info -->
          <a href="project-details.html" class="stretched-link d-block"></a>
        </div>
        <!-- /.project-block-one -->
      </div>
    </div>
  </div>

  <ul class="slider-arrows d-flex justify-content-center style-none">
    <li class="prev_b slick-arrow">
      <img src="images/icon/icon_16.png" alt="" class="icon icon-dark" />
      <img src="images/icon/icon_16_w.png" alt="" class="icon icon-white" />
    </li>
    <li class="next_b slick-arrow">
      <img src="images/icon/icon_17.png" alt="" class="icon icon-dark" />
      <img src="images/icon/icon_17_w.png" alt="" class="icon icon-white" />
    </li>
  </ul>
  <div
    class="section-title"
    data-sal="zoom-in"
    data-sal-duration="900"
    data-sal-delay="200"
  >
    Our Project
  </div>
</div>
