<!-- Start CTA -->
<section class="bg-cta" style="background: url('images/cta03.jpg') center;">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card py-5 px-4 border-0 rounded bg-white">
          <div class="tiny-single-item">
            <div class="tiny-slide">
              <div class="card client-testi text-center">
                <img
                  src="images/client/01.jpg"
                  class="avatar avatar-small rounded-pill mx-auto"
                  alt=""
                />

                <div class="card-body pb-0 content">
                  <p class="h6 fw-normal text-muted fst-italic">
                    " The advantage of its Latin origin and the relative
                    meaninglessness of Lorum Ipsum is that the text does not
                    attract attention to itself or distract the viewer's
                    attention from the layout. "
                  </p>

                  <div class="name mt-4">
                    <small class="text-uppercase fw-semibold d-block"
                      >Johnny Rosario</small
                    >
                    <small class="text-muted">C.E.O</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card client-testi text-center">
                <img
                  src="images/client/02.jpg"
                  class="avatar avatar-small rounded-pill mx-auto"
                  alt=""
                />

                <div class="card-body pb-0 content">
                  <p class="h6 fw-normal text-muted fst-italic">
                    " One disadvantage of Lorum Ipsum is that in Latin certain
                    letters appear more frequently than others - which creates a
                    distinct visual impression. "
                  </p>

                  <div class="name mt-4">
                    <small class="text-uppercase fw-semibold d-block"
                      >Gale Larose</small
                    >
                    <small class="text-muted">Manager</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="tiny-slide">
              <div class="card client-testi text-center">
                <img
                  src="images/client/03.jpg"
                  class="avatar avatar-small rounded-pill mx-auto"
                  alt=""
                />

                <div class="card-body pb-0 content">
                  <p class="h6 fw-normal text-muted fst-italic">
                    " Thus, Lorem Ipsum has only limited suitability as a visual
                    filler for German texts. If the fill text is intended to
                    illustrate the characteristics of different typefaces. "
                  </p>

                  <div class="name mt-4">
                    <small class="text-uppercase fw-semibold d-block"
                      >Shelly Goodman</small
                    >
                    <small class="text-muted">Manager</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End CTA -->
