<!-- Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-4 pb-2">
        <div class="section-title text-center">
          <h4 class="title fw-semibold mb-3">Meet Our Team Expert</h4>
          <p class="text-muted para-desc mx-auto mb-0">
            Our design projects are fresh and simple and will benefit your
            business greatly. Learn more about our work!
          </p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container-fluid mt-4 pt-2">
    <div class="row">
      <div class="col-12 px-0">
        <div class="tiny-six-item">
          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <img src="images/client/09.jpg" class="img-fluid" alt="" />
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <a
                  href="javascript:void(0)"
                  class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                  >Dennis Rosario</a
                >
                <small class="text-white title-dark">C.E.O</small>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <img src="images/client/10.jpg" class="img-fluid" alt="" />
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a
                    href="javascript:void(0)"
                    class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                    >Billy Gregory</a
                  >
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <img src="images/client/11.jpg" class="img-fluid" alt="" />
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a
                    href="javascript:void(0)"
                    class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                    >Connie Dunton</a
                  >
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <img src="images/client/12.jpg" class="img-fluid" alt="" />
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a
                    href="javascript:void(0)"
                    class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                    >Alberta Petty</a
                  >
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <img src="images/client/13.jpg" class="img-fluid" alt="" />
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a
                    href="javascript:void(0)"
                    class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                    >Shirley Garcia</a
                  >
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <img src="images/client/14.jpg" class="img-fluid" alt="" />
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a
                    href="javascript:void(0)"
                    class="h6 name text-uppercase d-block mb-0 text-white title-dark"
                    >Michael Wheeler</a
                  >
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="section-title mb-4 pb-2 mb-md-0 pb-md-0 me-lg-5">
          <h4 class="title fw-semibold mb-3">Our Skills & Expertise</h4>
          <p class="text-muted para-desc mb-0">
            Our design projects are fresh and simple and will benefit your
            business greatly. Learn more about our work!
          </p>
        </div>
      </div><!--end col-->

      <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="ms-lg-5">
          <div class="progress-box">
            <h6 class="text-muted fw-normal">Research</h6>
            <div class="progress position-relative">
              <div
                class="progress-bar position-relative bg-primary"
                style="width:84%;"
              >
              </div>
              <div class="progress-value d-block text-muted h6 fw-normal">
                84%
              </div>
            </div>
          </div><!--end process box-->

          <div class="progress-box mt-4">
            <h6 class="text-muted fw-normal">Sales & Trading</h6>
            <div class="progress position-relative">
              <div
                class="progress-bar position-relative bg-primary"
                style="width:75%;"
              >
              </div>
              <div class="progress-value d-block text-muted h6 fw-normal">
                75%
              </div>
            </div>
          </div><!--end process box-->

          <div class="progress-box mt-4">
            <h6 class="text-muted fw-normal">Investment</h6>
            <div class="progress position-relative">
              <div
                class="progress-bar position-relative bg-primary"
                style="width:79%;"
              >
              </div>
              <div class="progress-value d-block text-muted h6 fw-normal">
                79%
              </div>
            </div>
          </div><!--end process box-->

          <div class="progress-box mt-4">
            <h6 class="text-muted fw-normal">Finance</h6>
            <div class="progress position-relative">
              <div
                class="progress-bar position-relative bg-primary"
                style="width:95%;"
              >
              </div>
              <div class="progress-value d-block text-muted h6 fw-normal">
                95%
              </div>
            </div>
          </div><!--end process box-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end container-->
<!-- End -->
