---
const { dataContent } = Astro.props;
---

<!-- Start services -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <slot name="header">
            <h4 class="title fw-semibold mb-3">Explore</h4>
            <p class="text-muted para-desc mx-auto mb-0">Keterngan di sini</p>
          </slot>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <slot name="service-content" />
      <!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <img src="images/about02.png" class="img-fluid rounded shadow" alt="" />
      </div><!--end col-->

      <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="section-title ms-lg-5">
          <h4 class="title fw-semibold mb-3">{dataContent.content2.title}</h4>
          <p class="text-muted para-desc mb-0">
            {dataContent.content2.desc}
          </p>

          <div class="row mt-4">
            {
              dataContent.content2.item.map((item: any) => (
                <div class="col-lg-6 col-12">
                  <ul class="mb-0 list-unstyled">
                    <li class="mb-0">
                      <span class="text-primary h4 me-2">
                        <i class="uil uil-check-circle align-middle" />
                      </span>
                      {item}
                    </li>
                  </ul>
                </div>
              ))
            }
          </div><!--end row-->

          <div class="mt-4">
            <a href="javascript:void(0)" class="btn btn-primary"
              >Read More <i class="uil uil-arrow-right align-middle"></i></a
            >
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End services -->
