<!--
		=====================================================
			Service Section One
		=====================================================
		-->
<div
  class="service-section-one position-relative z-1 pt-140 lg-pt-80 pb-130 lg-pb-80"
>
  <div class="container">
    <div
      class="title-one text-center mb-20"
      data-sal="slide-up"
      data-sal-duration="900"
    >
      <div class="upper-title justify-content-center">
        <img src="images/icon/icon_09.png" alt="" class="me-2 icon" />
        <span>WHAT WE OFFER</span>
        <img src="images/icon/icon_09.png" alt="" class="ms-2 icon" />
      </div>
      <h2>Explore Our Services</h2>
    </div>
    <!-- /.title-one -->
    <div class="row">
      <div class="col-xl-7 col-lg-8 m-auto">
        <p class="text-center mb-70 md-mb-40">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti
        </p>
      </div>
    </div>
  </div>
  <div class="box-layout-one">
    <div class="service-slider-one">
      <div class="item">
        <div class="card-style-two">
          <div
            class="media-bg"
            style="background-image: url(images/media/img_07.jpg);"
          >
          </div>
          <div class="info-meta">
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="images/icon/icon_10.png" alt="" />
            </div>
            <h4>Sea Transport</h4>
            <p class="fs-16">
              At vero eos et accusamus et iusto odio dignissimos ducimus
            </p>
            <a href="service-details.html" class="btn-two">
              <span class="arrow-icon"
                ><i class="fa-solid fa-circle-arrow-right"></i></span
              >
              <span>Read More</span>
            </a>
          </div>
          <!-- /.info-meta -->
        </div>
        <!-- /.card-style-two -->
      </div>

      <div class="item">
        <div class="card-style-two">
          <div
            class="media-bg"
            style="background-image: url(images/media/img_08.jpg);"
          >
          </div>
          <div class="info-meta">
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="images/icon/icon_11.png" alt="" />
            </div>
            <h4>Land Freight</h4>
            <p class="fs-16">
              At vero eos et accusamus et iusto odio dignissimos ducimus
            </p>
            <a href="service-details.html" class="btn-two">
              <span class="arrow-icon"
                ><i class="fa-solid fa-circle-arrow-right"></i></span
              >
              <span>Read More</span>
            </a>
          </div>
          <!-- /.info-meta -->
        </div>
        <!-- /.card-style-two -->
      </div>

      <div class="item">
        <div class="card-style-two">
          <div
            class="media-bg"
            style="background-image: url(images/media/img_09.jpg);"
          >
          </div>
          <div class="info-meta">
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="images/icon/icon_12.png" alt="" />
            </div>
            <h4>Air Transport</h4>
            <p class="fs-16">
              At vero eos et accusamus et iusto odio dignissimos ducimus
            </p>
            <a href="service-details.html" class="btn-two">
              <span class="arrow-icon"
                ><i class="fa-solid fa-circle-arrow-right"></i></span
              >
              <span>Read More</span>
            </a>
          </div>
          <!-- /.info-meta -->
        </div>
        <!-- /.card-style-two -->
      </div>

      <div class="item">
        <div class="card-style-two">
          <div
            class="media-bg"
            style="background-image: url(images/media/img_10.jpg);"
          >
          </div>
          <div class="info-meta">
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="images/icon/icon_13.png" alt="" />
            </div>
            <h4>International Freight</h4>
            <p class="fs-16">
              At vero eos et accusamus et iusto odio dignissimos ducimus
            </p>
            <a href="service-details.html" class="btn-two">
              <span class="arrow-icon"
                ><i class="fa-solid fa-circle-arrow-right"></i></span
              >
              <span>Read More</span>
            </a>
          </div>
          <!-- /.info-meta -->
        </div>
        <!-- /.card-style-two -->
      </div>

      <div class="item">
        <div class="card-style-two">
          <div
            class="media-bg"
            style="background-image: url(images/media/img_11.jpg);"
          >
          </div>
          <div class="info-meta">
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="images/icon/icon_14.png" alt="" />
            </div>
            <h4>Train Freight</h4>
            <p class="fs-16">
              At vero eos et accusamus et iusto odio dignissimos ducimus
            </p>
            <a href="service-details.html" class="btn-two">
              <span class="arrow-icon"
                ><i class="fa-solid fa-circle-arrow-right"></i></span
              >
              <span>Read More</span>
            </a>
          </div>
          <!-- /.info-meta -->
        </div>
        <!-- /.card-style-two -->
      </div>

      <div class="item">
        <div class="card-style-two">
          <div
            class="media-bg"
            style="background-image: url(images/media/img_12.jpg);"
          >
          </div>
          <div class="info-meta">
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="images/icon/icon_15.png" alt="" />
            </div>
            <h4>Maritime Transport</h4>
            <p class="fs-16">
              At vero eos et accusamus et iusto odio dignissimos ducimus
            </p>
            <a href="service-details.html" class="btn-two">
              <span class="arrow-icon"
                ><i class="fa-solid fa-circle-arrow-right"></i></span
              >
              <span>Read More</span>
            </a>
          </div>
          <!-- /.info-meta -->
        </div>
        <!-- /.card-style-two -->
      </div>
    </div>
  </div>
  <!-- /.box-layout-one -->

  <ul class="slider-arrows d-flex justify-content-center style-none mt-45">
    <li class="prev_a slick-arrow">
      <img src="images/icon/icon_16.png" alt="" class="icon icon-dark" />
      <img src="images/icon/icon_16_w.png" alt="" class="icon icon-white" />
    </li>
    <li class="next_a slick-arrow">
      <img src="images/icon/icon_17.png" alt="" class="icon icon-dark" />
      <img src="images/icon/icon_17_w.png" alt="" class="icon icon-white" />
    </li>
  </ul>
</div>
<!-- /.service-section-one -->
