<!-- TAGLINE START-->
<div class="tagline bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
          <ul class="list-unstyled mb-0">
            <li class="list-inline-item mb-0">
              <a href="javascript:void(0)" class="text-muted fw-normal"
                ><i data-feather="mail" class="fea icon-sm text-primary"></i> support@mitraadira.com</a
              >
            </li>
            <li class="list-inline-item mb-0 ms-3">
              <a
                target="_blank"
                href="https://maps.app.goo.gl/qKp23grwajAADLmeA"
                class="text-muted fw-normal"
                ><i data-feather="map-pin" class="fea icon-sm text-primary"></i>
                Grand Slipi Tower 35th Floor Kav 22-24 Slipi 11480, Jakarta</a
              >
            </li>
          </ul>

          <ul class="list-unstyled social-icon tagline-social mb-0">
            <li class="list-inline-item mb-0">
              <a href="javascript:void(0)"
                ><i class="uil uil-facebook-f h6 mb-0"></i></a
              >
            </li>
            <li class="list-inline-item mb-0">
              <a href="javascript:void(0)"
                ><i class="uil uil-instagram h6 mb-0"></i></a
              >
            </li>
            <li class="list-inline-item mb-0">
              <a href="javascript:void(0)"
                ><i class="uil uil-twitter h6 mb-0"></i></a
              >
            </li>
            <li class="list-inline-item mb-0">
              <a href="javascript:void(0)"
                ><i class="uil uil-linkedin h6 mb-0"></i></a
              >
            </li>
          </ul><!--end icon-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</div><!--end tagline-->
<!-- TAGLINE END-->
