/* Invoice Print
******************************************************************************* */

@import "../_bootstrap-extended/include";

html,
body {
  background: var(--#{$prefix}white);
}

body > :not(.invoice-print) {
  display: none !important;
}

.invoice-print {
  font-size: 15px;
  min-inline-size: 768px !important;
}

.invoice-print * {
  color: $body-color !important;
}

.invoice-print .table thead tr th {
  background-color: var(--#{$prefix}table-header-bg-color);
}

.invoice-print .text-primary * {
  color: var(--#{$prefix}primary) !important;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .invoice-print th {
      color: var(--#{$prefix}white) !important;
    }
  }
}
