/* Pricing
******************************************************************************* */

@import "../_bootstrap-extended/include";

.pricing-plans {
  ul {
    list-style-type: circle;
    li::marker {
      font-size: 1.4rem;
    }
  }
}

.price-yearly-toggle {
  position: absolute;
  margin: auto;
  inset-inline: 0;
}
