<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ subject }}</title>
</head>

<body class="bg-gray-100 font-sans">
  <table class="w-full bg-gray-100 py-8">
    <tr>
      <td align="center">
        <table class="w-[600px] bg-white rounded shadow">
          <tr>
            <td class="p-8">
              {{ content }}
            </td>
          </tr>
        </table>

        <p class="text-xs text-gray-500 mt-6">
          © {{ year }} PT Mitra Adira Utama
        </p>
      </td>
    </tr>
  </table>
</body>

</html>
