<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Transportation, Logistics, HTML5 Template, Responsive, Modern, Booking, Services, Navigation, Business">
	<meta name="description" content="Logiz Transportation & Logistics HTML5 Template is a clean, modern design tailored for logistics companies. Featuring responsive design, it ensures optimal performance across devices. With easy navigation, customizable elements, and integrated booking forms, it simplifies showcasing services and managing client interactions. Ideal for businesses aiming to enhance their online presence effectively.">
    <meta property="og:site_name" content="Logiz">
    <meta property="og:url" content="https://themazine.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Logiz - Transportation & Logistics HTML5 Template">
	<meta name='og:image' content='images/assets/ogg.png'>
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#104b59">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#104b59">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#104b59">
	<title>Shared on THEMELOCK.COM - Logiz - Transportation & Logistics HTML5 Template</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="css/style.min.css" media="all">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="all">

	<!-- Fix Internet Explorer ______________________________________-->
	<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
</head>

<body>
	<div class="main-page-wrapper">
		<!-- ===================================================
			Loading Transition
		==================================================== -->
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="icon"><img src="images/loader.svg" alt="" class="m-auto d-block"> <span></span></div>
				<div class="txt-loading">
					<span data-text-preloader="L" class="letters-loading">
						L
					</span>
					<span data-text-preloader="O" class="letters-loading">
						O
					</span>
					<span data-text-preloader="G" class="letters-loading">
						G
					</span>
					<span data-text-preloader="I" class="letters-loading">
						I
					</span>
					<span data-text-preloader="Z" class="letters-loading">
						Z
					</span>
				</div>
			</div>
		</div>


		<!-- 
		=============================================
			Sidenav
		============================================== 
		-->
        <div class="offcanvas offcanvas-end sidebar-nav" tabindex="-1" id="sideNav">
            <div class="offcanvas-header p0">
            	<div class="logo order-lg-0">
					<a href="index.html" class="d-flex align-items-center">
						<img src="images/logo/logo_02.png" alt="" width="130">
					</a>
				</div>
            	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="wrapper mt-80 h-100">
				<div class="d-flex flex-column h-100">
					<div class="address-block mb-30">
						<h4 class="title pb-5">Office Address</h4>
						<p>Chowrastar Mirpur- 1210, Sangu <br>River, Dhaka</p>
					</div>
					<div class="address-block mb-30">
						<h4 class="title pb-5">Phone Number</h4>
						<ul class="style-none">
							<li><a href="#" class="tran3s">+353-661-7935</a></li>
							<li><a href="#" class="tran3s">+(626) 365-2049</a></li>
						</ul>
					</div>
					<div class="address-block">
						<h4 class="title pb-5">Email Address</h4>
						<ul class="style-none">
							<li><a href="#" class="tran3s">info@logiz.com</a></li>
							<li><a href="#" class="tran3s">support@logiz.com</a></li>
						</ul>
					</div>
					<ul class="style-none d-flex flex-wrap w-100 justify-content-between align-items-center social-icon pt-25 mt-auto">
						<li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-viber"></i></a></li>
					</ul>
				</div>
            </div>
        </div>


		<!-- Search -->
		<div class="offcanvas offcanvas-top" tabindex="-1" id="searchToggle">
			<div class="offcanvas-header">
			  <button type="button" class="btn-close tran3s" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-regular fa-xmark"></i></button>
			</div>
			<div class="offcanvas-body">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 m-auto">
							<form action="#" class="search-form">
								<input type="text" placeholder="Search Here....">
								<button type="submit" class="tran3s"><i class="fa-regular fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	


		
		<!-- 
		=============================================
			Theme Main Menu
		============================================== 
		-->
		<header class="theme-main-menu menu-style-one menu-overlay sticky-menu">
			<div class="top-header gap-one position-relative white-bg">
				<div class="d-flex justify-content-between align-items-center">
					<div class="column-wrapper d-none d-md-flex align-items-center">
						<ul class="style-none social-icon d-flex align-items-center">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
						</ul>
						<p class="d-none d-xl-flex align-items-center">
							<img src="images/icon/icon_01.png" alt="" class="me-2">
							<span>Global Logistics Services – Your Success is Our Target!</span>
						</p>
					</div>
					<!-- /.column-wrapper -->
					<div class="column-wrapper d-flex align-items-center justify-content-center">
						<ul class="style-none d-none d-sm-flex align-items-center top-header-nav">
							<li><a href="blog-details.html">Trade Finance</a></li>
							<li><a href="blog-v1.html">Careers</a></li>
							<li><a href="blog-v2.html">News</a></li>
						</ul>
						<ul class="style-none d-flex align-items-center ms-sm-4 ps-sm-3">
							<li class="d-flex align-items-center me-2">
								<i class="fa-light fa-clock"></i>
								<span class="ms-2">Mon - Fri 8:00 - 6:30</span>
							</li>
							<li class="d-flex align-items-center ms-2">
								<i class="fa-light fa-envelope"></i>
								<a href="mailto:helpus24@gmail.com" class="email ms-2">helpus24@gmail.com</a>
							</li>
						</ul>
					</div>
					<!-- /.column-wrapper -->
				</div>
			</div>
			<!-- /.top-header -->
			<div class="inner-content">
				<div class="bottom-header gap-one position-relative dark-bg left-none">
					<div class="d-flex align-items-center">
						<div class="logo order-lg-0">
							<a href="index.html" class="d-flex align-items-center">
								<img src="images/logo/logo_03.png" alt="">
							</a>
						</div>
						<!-- logo -->
						<div class="right-widget ms-auto me-3 me-lg-0 order-lg-3">
							<ul class="d-flex align-items-center style-none">
								<li class="d-none d-xl-block me-4">
									<div class="support-btn d-flex align-items-center">
										<div class="icon rounded-circle d-flex align-items-center justify-content-center"><img src="images/icon/icon_25.png" alt=""></div>
										<div class="ps-3">
											<h6>Support</h6>
											<a href="#">(088) 00-11-52 -66</a>
										</div>
									</div>
									<!-- /.support-btn -->
								</li>
								<li class="me-5 pe-2 d-none d-xl-flex">
                                    <a href="contact.html" class="btn-one rounded-2">Get In Touch</a>
                                </li>
								<li>
                                    <button class="search-btn tran3s" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchToggle" aria-controls="searchToggle">
										<i class="fa-light fa-magnifying-glass"></i>
									</button>
                                </li>
								<li class="ms-4">
                                    <button class="sidenavbtn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideNav" aria-controls="sideNav">
										<img src="images/icon/icon_02.png" alt="" class="tran3s">
									</button>
                                </li>
							</ul>
						</div>
						<nav class="navbar navbar-expand-lg p0 order-lg-2">
							<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav align-items-lg-center">
									<li class="d-block d-lg-none"><div class="logo"><a href="index.html" class="d-block"><img src="images/logo/logo_02.png" alt=""></a></div></li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Home
										</a>
										<ul class="dropdown-menu">
											<li><a href="index.html" class="dropdown-item"><span>Home Version 01</span></a></li>
											<li><a href="index-2.html" class="dropdown-item"><span>Home Version 02</span></a></li>
											<li><a href="index-3.html" class="dropdown-item"><span>Home Version 03</span></a></li>
											<li><a href="index-4-dark.html" class="dropdown-item"><span>Home Version Dark</span></a></li>
										</ul>
									</li>
									<li class="nav-item dropdown">
							        	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Protfolio
										</a>
						                <ul class="dropdown-menu">
											<li><a href="project-v1.html" class="dropdown-item"><span>Project 01</span></a></li>
											<li><a href="project-v2.html" class="dropdown-item"><span>Project 02</span></a></li>
											<li><a href="project-details.html" class="dropdown-item"><span>Project Details</span></a></li>
										</ul>
						            </li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Services
										</a>
										<ul class="dropdown-menu">
											<li><a href="service-v1.html" class="dropdown-item"><span>Services 01</span></a></li>
											<li><a href="service-v2.html" class="dropdown-item"><span>Services 02</span></a></li>
											<li><a href="service-details.html" class="dropdown-item"><span>Services Details</span></a></li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Page
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu dropdown">
							                	<a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#"><span>Shop</span></a>
							                	<ul class="dropdown-menu">
									            	<li><a href="product.html" class="dropdown-item"><span>Shop Item</span></a></li>
													<li><a href="product-details.html" class="dropdown-item"><span>Shop Details</span></a></li>
													<li><a href="cart.html" class="dropdown-item"><span>Cart</span></a></li>
													<li><a href="checkout.html" class="dropdown-item"><span>Checkout</span></a></li>
									            </ul>
							                </li>
											<li class="dropdown-submenu dropdown">
							                	<a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#"><span>Miscellaneous</span></a>
							                	<ul class="dropdown-menu">
									            	<li><a href="appointments.html" class="dropdown-item"><span>Appointment</span></a></li>
													<li><a href="tracking.html" class="dropdown-item"><span>Tracking</span></a></li>
													<li><a href="faq.html" class="dropdown-item"><span>Faq's</span></a></li>
													<li><a href="404.html" class="dropdown-item"><span>404</span></a></li>
									            </ul>
							                </li>
											<li><a href="about.html" class="dropdown-item"><span>About Us</span></a></li>
											<li><a href="pricing.html" class="dropdown-item"><span>Pricing</span></a></li>
											<li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
											<li><a href="team-details.html" class="dropdown-item"><span>Team Details</span></a></li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
											data-bs-auto-close="outside" aria-expanded="false">Blog
										</a>
										<ul class="dropdown-menu">
											<li><a href="blog-v1.html" class="dropdown-item"><span>Blog Grid</span></a></li>
											<li><a href="blog-v2.html" class="dropdown-item"><span>Blog List</span></a></li>
											<li><a href="blog-details.html" class="dropdown-item"><span>Blog Details</span></a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
									<li class="d-lg-none ps-3 pe-3 mt-20">
										<a href="contact.html" class="btn-one rounded-2 w-100">Get In Touch</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div> <!--/.bottom-header-->
			</div> <!-- /.inner-content -->
		</header>
		<!-- /.theme-main-menu -->



		<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
		<div class="inner-banner-one header-space-fix position-relative z-1">
            <div class="line-wrapper position-relative">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul class="style-none d-flex">
                            <li><a href="index.html">Home</a></li>
                            <li>-</li>
                            <li>Team Details</li>
                        </ul>
                    </div>
                    <!-- /.breadcrumb-content -->
                    <h2>Team Details</h2>
                </div>
            </div>
            <img src="images/shape/shape_40.png" alt="" class="shapes shape_01">
        </div>


		


		<!--
		=====================================================
			Team Details
		=====================================================
		-->
		<div class="team-details pt-130 lg-pt-80 pb-130 lg-pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 d-flex">
                        <div class="position-relative z-1 w-100 h-100">
                            <div class="team-image w-100" style="background-image: url(images/media/img_60.jpg);">
                            </div>
                            <div class="circle-shape shapes rounded-circle"></div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ps-xl-5">
                            <h2 class="team-name">Alex Wiliamson</h2>
                            <div class="team-post fs-16">Transportation Specialist</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Quis ipsum suspendisse ultrices gravida. Risus commodo viverra accu</p>

                            <div class="contact-info-bg position-relative z-1 mt-35 mb-35">
                                <div class="d-md-flex justify-content-between w-100">
                                    <div class="col-wrapper d-flex align-items-center">
                                        <div class="icon rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="images/icon/icon_44.png" alt="">
                                        </div>
                                        <div class="info">
                                            <h6>Contact</h6>
                                            <ul class="style-none">
                                                <li><a href="#">help24@gmail.com</a></li>
                                                <li><a href="#">support@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-wrapper d-flex align-items-center">
                                        <div class="icon rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="images/icon/icon_45.png" alt="">
                                        </div>
                                        <div class="info">
                                            <h6>Address</h6>
                                            <p>Street 5th road side 2 Floor, Ontario Canada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.contact-info-bg -->

                            <ul class="style-none social-icon d-flex align-items-center">
                                <li>Social </li>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                            <div class="contact-banner mt-40">
                                <ul class="d-flex justify-content-between align-items-center flex-wrap style-none">
                                    <li> Do you have an emergency</li>
                                    <li><i class="fa-solid fa-square-phone"></i> <a href="#">+0(88) 1745651</a></li>
                                </ul>
                            </div>
                            <!-- /.contact-banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
		=====================================================
			Team Contact
		=====================================================
		-->
        <div class="team-contact-section position-relative z-2 pt-120 lg-pt-80 pb-10">
            <div class="container">
                <div class="title-one text-center mb-20">
                    <h4>Ready To Work With Us</h4>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-9 m-auto">
                        <p class="fs-16 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-9 m-auto">
                        <form action="#" class="mt-40 md-mt-20">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Your Name" class="rounded-2 w-100 mb-30">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Email Address" class="rounded-2 w-100 mb-30">
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" placeholder="Phone Number" class="rounded-2 w-100 mb-30">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Topic Name" class="rounded-2 w-100 mb-30">
                                </div>
                                <div class="col-12">
                                    <textarea name="" id="" placeholder="Your Message here" class="rounded-2 w-100 mb-30"></textarea>
                                </div>
                            </div>
                            <button class="btn-three lg text-uppercase rounded-2 m-auto">Send Request</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="fancy-banner-one position-relative z-2 style-two mt-130 lg-mt-80">
                <div class="container">
                    <div class="bg-wrapper round-border">
                        <div class="row align-items-center">
							<div class="col-lg-7">
								<h2>We ensure safe transportation & delivery</h2>
							</div>
							<div class="col-lg-5">
								<div class="d-flex justify-content-center justify-content-lg-end">
									<a href="contact.html" class="btn-three xl">Contact us</a>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <!-- /.fancy-banner-one -->

            <img src="images/shape/shape_42.png" alt="" class="shapes w-100 shape_01">
        </div>
        <!-- /.team-contact-section -->

        




		<!--
		=====================================================
			Main Footer
		=====================================================
		-->
		<div class="main-footer bg-two">
			<div class="container">
				<div class="position-relative pt-100">
					<div class="row">
						<div class="col-lg-4">
							<div class="footer-intro mb-30 md-mb-60 me-xl-5">
								<a href="index.html"><img src="images/logo/logo_03.png" alt=""></a>
								
								<ul class="contact-info style-none">
									<li>
										<img src="images/icon/icon_22.png" alt="" class="icon">
										<p class="m0 d-flex flex-column">
											<a href="tel:+088112233455">+088 11 22 33 455</a>
											<a href="tel:+088112233455">+866 11 22 00 77</a>
										</p>
									</li>
									<li>
										<img src="images/icon/icon_23.png" alt="" class="icon">
										28 Valencia Street, New York United States of America
									</li>
								</ul>
								<ul class="style-none social-icon d-flex align-items-center">
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-4">
							<div class="footer-news mb-30 me-xxl-4">
								<h6 class="footer-title">Latest Post</h6>
								<ul class="style-none">
									<li>
										<article>
											<div class="date">25 August 2024</div>
											<h5 class="blog-title"><a href="blog-details.html">Ocean carriers massively throwing their chassis </a></h5>
										</article>
									</li>
									<li>
										<article>
											<div class="date">24 August 2024</div>
											<h5 class="blog-title"><a href="blog-details.html">Preparing global supply chains for the second wave of pandemic</a></h5>
										</article>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-3">
							<div class="footer-nav mb-30">
								<h6 class="footer-title">Services</h6>
								<ul class="footer-nav-link style-none">
									<li><a href="service-details.html">Automobile</a></li>
									<li><a href="service-details.html">Machineries</a></li>
									<li><a href="service-details.html">Export Import</a></li>
									<li><a href="service-details.html">Cargo Freight</a></li>
									<li><a href="service-details.html">Frozen Food</a></li>
									<li><a href="service-details.html">Transporters</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-5">
							<div class="footer-newsletter mb-30">
								<h6 class="footer-title">Newsletter</h6>
								<p>Get the latest news, tips and latest messages, including special offers</p>
								<form action="#">
									<input type="email" placeholder="Email Address">
									<button><img src="images/icon/icon_24.png" alt="" class="m-auto"></button>
								</form>
								<div class="email">
									<div class="icon"><i class="fa-regular fa-envelope"></i></div>
									<a href="mailto:logistic21@website.com">logistic21@website.com</a>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			<div class="container">
				<div class="bottom-footer position-relative z-1">
					<p class="copyright-text text-center m0">©2025 <a href="https://themeforest.net/user/themazine">TheMazine</a> All Rights Reserved</p>
					<img src="images/shape/shape_10.png" alt="" class="shapes shape_01">
				</div>
			</div>
			<img src="images/shape/shape_11.png" alt="" class="shapes shape_02" data-sal="slide-right" data-sal-duration="1500" data-sal-delay="200">
		</div> <!-- /.main-footer -->




		<button class="scroll-top">
			<i class="bi bi-arrow-up-short"></i>
		</button>




		<!-- Optional JavaScript _____________________________  -->

		<!-- jQuery first, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="vendor/sal/sal.js"></script>
		<!-- Slick Slider -->
		<script src="vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/fancybox.umd.js"></script>
		<!-- js Counter -->
		<script src="vendor/jquery.counterup.min.js"></script>
		<script src="vendor/jquery.waypoints.min.js"></script>
		<!-- validator js -->
		<script src="vendor/validator.js"></script>
		<!-- Nice Select -->
		<script src="vendor/nice-select/jquery.nice-select.min.js"></script>

		<!-- Theme js -->
		<script src="js/theme.js"></script>
	</div> <!-- /.main-page-wrapper -->
</body>

</html>