@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu/Ubuntu-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu/Ubuntu-Italic.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu/Ubuntu-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu/Ubuntu-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu/Ubuntu-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu/Ubuntu-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu/Ubuntu-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu Mono/UbuntuMono-Regular.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu Mono/UbuntuMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu Mono/UbuntuMono-Italic.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu Mono/UbuntuMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ubuntu/Ubuntu Mono/UbuntuMono-Bold.woff2') format('woff2'),
    url('/fonts/ubuntu/Ubuntu Mono/UbuntuMono-Bold.woff') format('woff');
}
