---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome" page="Halaman index">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h1>haloo index</h1>
  </div>
</Layout>
