/* ===================== Basic Layout of complete template Css ====================== */

.feature-block-one {
    background: $color-three;
    .box {
        padding: 20px 20px;
        background: #f2f9fb;
        border: 1px solid #000;
        border-radius: 0 30px 30px 30px;
        position: relative;
        z-index: 1;
        .icon {
            width: 65px;
        }
        strong {
            width: calc(100% - 65px);
            padding-left: 15px;
            font-size: 20px;
            line-height: 1.4em;
            font-weight: 700;
            color: $color-one;
        }
        .shape_01 {
            right: -55px;
            top:-30px;
        }
        &.color-two {
            border-radius: 30px;
            background: #fff5ef;
            padding: 15px 25px;
            strong {
                padding-left: 30px;
            }
        }
    }
    .support-btn {
        .icon {
            width: 65px;
            height: 65px;
            background: $color-one;
        }
        h6 {
            font-size: 18px;
            color: $color-two;
            font-weight: 600;
            margin: 0;
        }
        a {
            font-size: 20px;
            font-weight: 600;
            color: $color-one;
            @include transition(0.3s);
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .media-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 0 70px 70px;
        height: 97%;
        margin-top: auto;
    }
    .experience-box {
        position: absolute;
        right: -30px;
        top:-50px;
        border-radius: 50%;
        .main-count {
            width: 85px;
            height: 85px;
            background: $color-two;
            border-radius: 50%;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50% , -50%);
            z-index: 1;
            color: #fff;
            font-size: 42px;
            font-weight: 700;
        }
    }
    .media-bg-two {
        .main-img {
            border-radius: 40px 110px 110px 110px;
        }
        .img_01 {
            border: 11px solid #fff;
            border-radius: 110px 110px 0 110px;
            top:-11px;
            left: -46%;
            z-index: 0;
            max-width: 80%;
        }
        .img_02 {
            border: 11px solid #fff;
            border-radius: 0 110px 110px 110px;
            bottom:0;
            left: -22%;
            z-index: 0;
            max-width: 95%;
        }
        .experience-box {
            right: 11%;
            top:37%;
        }
        .bg-shape {
            left: -46%;
            bottom: -13%;
            max-width: 161%;
        }
    }
    .shape_02 {
        top:32%;
        right: 2%;
        max-width: 12%;
        animation: jumpThree 5s infinite linear;
    }
    .shape_03 {
        top:67%;
        right: 3%;
        max-width: 18%;
    }
    .shape_04 {
        top:4%;
        right: 2%;
        max-width: 18%;
    }
    .shape_05 {
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: -2;
    }
    .shape_06 {
        bottom:6%;
        right: 2%;
        max-width: 12%;
        animation: jumpThree 5s infinite linear;
    }
    .media-bg-three {
        background: url(../images/media/img_45.jpg) no-repeat center;
        background-size: cover;
        border-radius: 0 80px 80px 80px;
        height: 505px;
        margin: 65px 40px 0 -70px;
        .img_03 {
            right: -20px;
            top:0;
        }
    }
    &.bg-two {
        background: #e9f8fb;
        z-index: 0;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 105px;
            background: #e9f8fb;
            left: 0;
            top: -102px;
            z-index: -1;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 105px;
            background: #e9f8fb;
            left: 0;
            bottom: -102px;
            z-index: -1;
        }
    }
}


.feature-block-two {
    overflow: hidden;
    .media-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 70px 0 70px 70px;
        height: 97%;
        max-width: 96%;
        margin-left: auto;
    }
    .line-wrapper {
        padding-left: 50px;
        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 98%;
            background: $color-two;
            left: 0;
            top:0;
        }
        .list-style-two {
            position: relative;
            .icon {
                background: #fff5ef;
                border-color: #d8d8d8;
            }
            &.hr-line {
                padding-left: 145px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 104px;
                    height: 1px;
                    background: $color-one;
                    top:41px;
                    left: 41px;
                }
            }
            &.vr-line {
                &:before,&:after {
                    content: '';
                    position: absolute;
                    height: 104px;
                    width: 1px;
                    background: $color-one;
                    left: 41px;
                    top:-104px;
                    z-index: -1;
                }
                &:after {
                    top:auto;
                    bottom: -86px;
                }
            }
        }
    }
    .shape_01 {
        right: 0;
        top:0;
        max-width: 16%;
    }
    .shape_02 {
        bottom: 0;
        right: 0;
        max-width: 40%;
    }
    .shape_03 {
        top:9%;
        left: 1%;
        max-width: 14%;
    }
    .shape_04 {
        top:0;
        left: 0;
        max-width: 28%;
    }
    .shape_05 {
        top:0;
        right: 0;
        z-index: -3;
        max-width: 35%;
    }
    .shape_06 {
        bottom:120px;
        right: 0;
        z-index: -2;
        max-width: 42%;
    }
    .shape_07 {
        bottom:100px;
        left: 0;
        max-width: 10%;
    }
    .shape_08 {
        bottom:148px;
        right: 8%;
        max-width: 13%;
    }
    .shape_09 {
        right: 1%;
        bottom:21%;
        max-width: 47%;
    }
}

.feature-block-three {
    background: url(../images/assets/bg_02.jpg) repeat center;
    .bottom-line {
        .line {
            position: absolute;
            width: calc(100% - 374px);
            height: 1px;
            background: #e3d6c5;
            bottom: 32px;
            left: 50%;
            transform: translateX(-50%);
            &:before, &:after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $color-two;
                bottom: -3px;
                left: -6px;
            }
            &:after {
                left: auto;
                right: -6px;
            }
        }
    }
    &.version-two {
        background: $color-two;
        border-radius: 100px;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background: url(../images/shape/shape_33.png) repeat-x center;
            z-index: -1;
            opacity: 0.7;
        }
        .bottom-line .line {
            background: #fff;
            &:before, &:after {
                background: #fff;
            }
        }
        .card-style-three {
            &:before {
                border-color: #fff;
            }
            .text-meta {
                background: url(../images/assets/bg_12.jpg) no-repeat center bottom;
                background-size: cover;
                h4,p {
                    color: #fff;
                }
            }
            .numb {
                background: #000;
            }
            &:hover {
                .text-meta {
                    background: url(../images/assets/bg_13.jpg) no-repeat center bottom;
                    background-size: cover;
                }
            }
        }
    }
}
.feature-block-four {
    border-top: 50px solid $color-two;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        background: url(../images/assets/bg_06.png) repeat center;
        left: 0;
        top:-50px;
        z-index: -1;
    }
    .card-wrapper {
        margin-top: -175px;
    }
    .shape_01 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
    }
    .shape_02 {
        right: 0;
        top:75px;
        max-width: 6%;
    }
    .shape_03 {
        top:-56%;
        right: 0;
        max-width: 19%;
    }
}
.feature-block-five {
    background: url(../images/media/img_44.jpg) no-repeat center;
    background-size: cover;
    border-radius: 0 100px 100px 100px;
}
.counter-section-one {
    background: #f3eae8;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background: url(../images/assets/bg_01.png) repeat;
        z-index: -1;
    }
}
.tracking-section {
    form {
        input,.nice-select {
            border: 1px solid #c8cccd;
            background: #fff;
            color: $text-color;
            font-size: 16px;
            font-weight: 500;
            height: 85px;
            line-height: 83px;
            padding: 0 20px;
        }
        .nice-select:after {
            right: 15px;
        }
        .nice-select {
            .list {
                padding: 0;
                border-radius: 6px;
                border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
            li {
                line-height: 35px;
                font-size: 1em;
                margin-top: 2px;
                &:hover, &.selected.focus {
                    background: $color-one;
                    color: #fff;
                }
            }
        }
        .btn-one {
            line-height: 85px;
            width: 212px;
            i {
                font-size: 1.1em;
                vertical-align: -4px;
                margin-left: 5px;
            }
        }
    }
    .instruction {
        li {
            font-size: 16px;
            color: rgba($color: #104b59, $alpha: 0.8);
            position: relative;
            padding-left: 15px;
            margin-bottom: 6px;
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border: 1px solid $color-two;
                border-radius: 50%;
                left: 0;
                top:7px;
            }
        }
    }
    .widget-banner {
        border-radius: 5px;
        padding: 28px 40px 30px;
        h6 {
            font-size: 20px;
            font-weight: 600;
        }
        p {
            font-size: 14px;
            line-height: 26px;
            padding: 10px 0 0;
        }
        a {
            font-size: 15px;
            color: #fff;
            font-weight: 600;
            line-height: 37px;
            border-radius: 5px;
            background: $color-one;
            padding: 0 24px;
            &:hover {
                background: $color-two;
            }
        }
    }
}

// Sidebar One
.sidebar-one {
    .p-lr {
        padding-left: 50px;
        padding-right: 50px;
    }
    .border-30 {
        border-radius: 30px;
    }
    .title {
        font-size: 22px;
        font-weight: 600;
        border-bottom: 1px solid #ced4d5;
        padding-bottom: 8px;
        margin-bottom: 25px;
    }
    .category-list-one {
        padding-top: 47px;
        padding-bottom: 38px;
        background: #ebf3f5;
        li {
            margin-bottom: 9px;
            li:last-child {
                margin-bottom: 0;
            }
            a {
                display: block;
                font-size: 16px;
                font-weight: 600;
                color: $color-one;
                padding: 11px 25px;
                background: #efe8e3;
                border-radius: 5px;
                position: relative;
                @include transition(0.3s);
                &:before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #fff;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    opacity: 0;
                    @include transition(0.3s);
                }
                &:hover, &.active {
                    background: $color-two;
                    color: #fff;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .emergency-banner {
        padding-top: 30px;
        padding-bottom: 35px;
        background: #577177;
        h4 {
            font-size: 28px;
            font-weight: 700;
            color: #fff;
        }
        p {
            font-size: 16px;
            color: #fff;
            line-height: 26px;
            margin-bottom: 13px;
        }
        .call {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
        .shape_01 {
            right: 15px;
            bottom: 15px;
            max-width: 29%;
        }
    }
    .contact-banner {
        background: #fff;
        margin-top: -30px;
        box-shadow: 0px 0px 50px 0px rgba(195, 195, 195, 0.35);
        padding-top: 72px;
        padding-bottom: 45px;
        h3 {
            font-size: 24px;
            line-height: 1.25em;
            margin-bottom: 18px;
        }
        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 32px;
        }
    }
    .circle-shape {
        width: 386px;
        height: 386px;
        background: #fff2e9;
        left: -100px;
        bottom: -100px;
    }
    .info-list {
        border: 1px solid #e4deda;
        padding: 40px 25px;
        li {
            background: #f3f1ef;
            border-radius: 5px;
            padding: 22px 20px;
            font-size: 22px;
            font-weight: 600;
            color: $color-one;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                display: block;
                font-size: 16px;
                font-weight: 500;
                color: #6d7d81;
                margin-top: -3px;
            }
            .icon {
                right: 20px;
                top:50%;
                transform: translateY(-50%);
            }
        }
    }

}

// Sidebar Two
.sidebar-two {
    .sidebar-bg {
        background: #fff6f0;
        border-radius: 5px;
        padding: 30px;
    }
    .slider-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 22px;
    }
    .sidebar-search {
        form {
          height: 55px;
          position: relative;
          input {
            width: 100%;
            height: 100%;
            border: 1px solid #c8c8ca;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 55px 0 30px;
          }
          button {
            position: absolute;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            right: 0;
            top:0;
            font-size: 20px;
            background: $color-two;
            color: #fff;
            @include transition(0.3s);
            &:hover {
              background: $color-one;
            }
          }
        }
    }

    .sidebar-category {
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: block;
                font-weight: 600;
                font-size: 15px;
                color: $color-one;
                background: #fff;
                border-radius: 3px;
                overflow: hidden;
                padding: 0 20px;
                line-height: 45px;
                position: relative;
                z-index: 1;
                @include transition(0.3s);
                span {
                    float: right;
                    opacity: 0;
                    color: #fff;
                }
                &:before {
                    content: url(../images/shape/shape_49.png);
                    position: absolute;
                    left: 15px;
                    top:10px;
                    opacity: 0;
                    @include transition(0.3s);
                }
                &.active, &:hover {
                    background: $color-two;
                    color: #fff;
                    padding-left: 55px;
                    &:before {
                        opacity: 1;
                    }
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .recent-post {
        article {
            border-bottom: 1px solid #dedecf;
            padding-bottom: 24px;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border: none;
            }
        }
        .post-img {
            margin: 0;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
        }
        .post-data {
            width: calc(100% - 70px);
            padding-left: 15px;
            .date {
                display: block;
                font-size: 13px;
                font-weight: 500;
                color: #868787;
            }
            .blog-title h3 {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.444em;
                margin: 0 0 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .blog-keyword {
        ul {
            margin: 0 -4px;
            li {
                margin: 0 4px 10px;
                a {
                    line-height: 28px;
                    border: 1px solid #d2d5d2;
                    border-radius: 3px;
                    padding: 0 15px;
                    font-size: 13px;
                    font-weight: 500;
                    color: $color-one;
                    text-transform: capitalize;
                    @include transition(0.2s);
                    &:hover {
                        background: $color-two;
                        border-color: $color-two;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.faq-section {
    .main-container {
        max-width: 1568px;
        margin: 0 auto;
        padding: 0 12px;
        .bg-wrapper {
            background: #fcf7f2;
            padding: 130px 12px 110px;
            border-radius: 30px;
        }
        .faq-header {
            border-bottom: 1px solid #d0cac2;
            padding-bottom: 30px;
            margin-bottom: 44px;
            h2 {
                font-size: 43px;
                line-height: 1.1627em;
                font-weight: 700;
                margin-bottom: 25px;
            }
        }
        h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 37px;
        }
        .contact-info-text {
            h5 {
                font-size: 28px;
                margin: 0;
                a {
                    color: $color-two;
                }
            }
            .support-btn {
                width: 107px;
                height: 107px;
                border: 2px solid $color-one;
                line-height: 103px;
                text-align: center;
                background: #fff;
                font-size: 18px;
                font-weight: 600;
                color: $color-one;
                margin-left: auto;
                &:hover {
                    background: $color-one;
                    color: #fff;
                }
            }
        }
    }
}
.error-page {
    h2 {
        font-size: 45px;
        font-weight: 600;
        margin: 60px 0 1px;
    }
    p {
        font-size: 20px;
        margin-bottom: 30px;
    }
    form {
        height: 70px;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          border: 1px solid #e8e6e3;
          border-radius: 35px;
          font-size: 16px;
          font-weight: 500;
          padding: 0 55px 0 30px;
        }
        button {
          position: absolute;
          width: 84px;
          height: 70px;
          border-radius: 35px;
          right: 0;
          top:0;
          font-size: 20px;
          background: $color-two;
          color: #fff;
          @include transition(0.3s);
          &:hover {
            background: $color-one;
          }
        }
      }
}