/* ===================== Project Css ====================== */

.project-section-one {
    background: #f3eae8;
    &.bg-two {
        background: url(../images/assets/bg_09.jpg) repeat-x center bottom;
        .slider-arrows li {
            border-color: #fff;
            &:hover {
                background: #fff;
            }
        }
        .section-title {
            color: $color-two;
            text-shadow: 0 0 1px #fff1e8;
            z-index: -1;
        }
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        left: 0;
        top:0;
        background: #fff;
        z-index: -1;
    }
    .slider-arrows {
        position: relative;
        margin-top: 130px;
        &:before,&:after {
            content: '';
            position: absolute;
            width: calc(50% - 100px);
            height: 1px;
            background: #fff;
            bottom: 35px;
            left: 0;
        }
          &:after {
            left: auto;
            right: 0;
        }
        li {
            width: 70px;
            height: 70px;
            border: 1px solid #e9d5c7;
            border-radius: 50%;
            margin: 0 10px;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;
            @include transition(0.3s);
    
            .icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                @include transition(0.3s);
            }
    
            .icon-white {
                opacity: 0;
            }
    
            &:hover {
                .icon-dark {
                    opacity: 0;
                }
        
                .icon-white {
                    opacity: 1;
                }
                background: $color-two;
                border-color: $color-two;
            }
        }
    }
    .section-title {
        font-size: 250px;
        line-height: 0.5em;
        font-weight: 700;
        color: rgba($color: #fff, $alpha: 0.3);
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 8%;
        z-index: -1;
    }
}

.project-block-one {
    height: 505px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: '';
        opacity: 0.451;
        position: absolute;
        width: 100%;
        height: 38%;
        left: 0;
        bottom: 0;
        background: linear-gradient( 360deg, rgba(219,166,92,0.8) 0%, rgba(77,77,10,0) 100%);
        z-index: -1; 
    }
    .info {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 1;
        padding: 25px 25px 18px;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
            background: rgba($color: #dba65c, $alpha: 0.5);
            filter: blur(5px);
            @include transition (0.3s);
            opacity: 0;
        }
        .tags {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 23px;
            padding: 0 10px;
            background: $color-two;
        }
        h5 {
            font-size: 22px;
            line-height: 1.3636em;
            font-weight: 700;
            color: #fff;
            max-width: 265px;
            margin: 8px auto 0;
        }
    }
    .icon {
        width: 60px;
        height: 40px;
        border-radius: 0 20px 20px 0;
        background: $color-one;
        position: absolute;
        left: 0;
        top:0;
    }
    &:hover {
        .info:before {
            opacity: 1;
        }
        .icon {
            background: $color-two;
        }
    }
    &.version-two {
        height: 520px;
        border-radius: 30px;
        overflow: hidden;
        &::before {
            display: none;
        }
        .info {
            width: 295px;
            height: 295px;
            border-radius: 50%;
            background: rgba($color: #000, $alpha: 0.68);
            bottom: 0;
            padding: 15px;
            left: 50%;
            transform: translateX(-50%);
            @include transition(0.3s);
            &:before {
                background: rgba($color: #fd8e44, $alpha: 0.5);
            }
            .icon {
                width: 68px;
                height: 68px;
                background: #fff;
                border: 2px solid transparent;
                position: static;
                color: $color-one;
                font-size: 25px;
                margin-top: 20px;
            }
        }
        &:hover {
            .info {
                .icon {
                    background: transparent;
                    border-color: #fff;
                    color: #fff;
                }
            }
        }
    }
}
.project-details {
    .img-1 {
        border-radius: 30px;
    }
    .img-2 {
        border-radius: 5px;
    }
    h2 {
        font-size: 36px;
        font-weight: 700;
        margin: 32px 0 25px;
    }
    h3 {
        font-size: 30px;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 17px;
    }
    h6 {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0 25px;
    }
    .list-style-one li {
        font-size: 16px;
        font-weight: normal;
    }
}