/* ===================== Service Css ====================== */
// Service Section One
.service-section-one {
    background: #bfd6dc;
    &:before,&:after {
        content: '';
        position: absolute;
        width: calc(50% - 100px);
        height: 1px;
        background: #cce9f1;
        bottom: 165px;
        left: 0;
    }
      &:after {
        left: auto;
        right: 0;
    }
    .slider-arrows {
        li {
            width: 70px;
            height: 70px;
            border: 1px solid #e7e7e7;
            border-radius: 50%;
            margin: 0 10px;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;
            @include transition(0.3s);
    
            .icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                @include transition(0.3s);
            }
    
            .icon-white {
                opacity: 0;
            }
    
            &:hover {
                .icon-dark {
                    opacity: 0;
                }
        
                .icon-white {
                    opacity: 1;
                }
                background: $color-two;
                border-color: $color-two;
            }
        }
    }
}
// Service Section Two
.service-section-two {
    background: $color-one;
    &.version-two::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 105px;
        background: $color-one;
        left: 0;
        top: -102px;
        z-index: -1;
    }
    &.version-two::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 105px;
        background: $color-one;
        left: 0;
        bottom: -102px;
        z-index: -1;
    }
}

// Service Details
.service-details-content {
    h2 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        margin-bottom: 20px;
        color: #617980;
    }
    .text {
        width: calc(100% - 260px);
    }
    h4 {
        font-size: 28px;
        line-height: 1.357em;
        font-weight: 600;
    }
    h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .main-media {
        width: 260px;
        height: 260px;
    }
    .mark-bg {
        background: #eff3f4;
        padding: 40px 40px 50px;
        &.bg-two {
            background: #fff9f5;
        }
    }
    .card-style-five p {
        font-size: 16px;
        line-height: 30px;
    }
    .pagination-footer {
        .icon-bg {
            width: 95px;
            height: 95px;
            border-radius: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .icon {
                width: 45px;
                height: 45px;
                background: rgba($color: $color-two, $alpha: 0.8);
                color: #fff;
                @include transition(0.3s);
                
            }
            &:hover {
                .icon {
                    background: $color-two;
                }
            }
        }
        .page-name {
            width: calc(100% - 95px);
            padding-left: 15px;
            font-size: 24px;
            font-weight: 500;
            color: $color-one;
        }
        .social-icon {
            margin: 0 -5px;
            li {
                padding: 0 5px;
                a {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px solid #ececec;
                    background: #fff;
                    color: $color-one;
                    font-size: 17px;
                    @include transition(0.3s);
                    position: relative;
                    z-index: 1;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        top:0;
                        left: 0;
                        transform: scale(0);
                        background: $color-two;
                        @include transition(0.3s);
                        z-index: -1;
                    }
                    &:hover {
                        color: #fff;
                        &:before {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}