---
import { service } from "@js/module/blog.js";
import Cta from "~/components/Blog/cta.astro";
import Hero from "~/components/Blog/hero.astro";
import SectionTree from "~/components/Blog/sectionTree.astro";
import Service from "~/components/Blog/service.astro";
import Blog from "~/layouts/Blog.astro";
---

<Blog title="Halaman Blog">
  <Hero />
  <Service dataContent={service}>
    <div slot="header">
      <h4 class="title fw-semibold mb-3">Explore Solutions Jing</h4>
      <p class="text-muted para-desc mx-auto mb-0">
        With a secure and reliable logistics system, we provide peace of mind.
        You manage your business, we manage your logistics without worry.
      </p>
    </div>
    <Fragment slot="service-content">
      {
        service.content.map((item) => (
          <div class="col-lg-4 mt-4 pt-2">
            <div
              class={
                item.class + " features feature-bg border-0 p-4 rounded shadow"
              }
            >
              <div class="fea-icon rounded text-white title-dark">
                <i class={item.icon} />
              </div>

              <div class="content mt-3">
                <a href="#" class="title h5 text-dark">
                  {item.title}
                </a>
                <p class="text-muted para mt-2 mb-0">{item.desc}</p>
              </div>
            </div>
          </div>
        ))
      }
    </Fragment>
  </Service>
  <SectionTree />
  <Cta />
</Blog>
