---
import Blog from "~/layouts/Blog.astro";
---

<Blog title="Halaman Our Network">
  <!-- Start hero -->
  <section class="bg-half-170 d-table w-100 pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="title-heading">
            <h4 class="heading text-decoration-underline mb-4">
              The Right Hand of Business IT World
            </h4>
            <p class="text-muted h5 fw-normal mb-0">
              If the distribution of letters and 'words' is random, the reader
              will not be distracted from making a neutral judgement on the
              visual impact and readability of the typefaces (typography), or
              the distribution of text on the page (layout or type area).
            </p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End Hero -->

  <!-- Start Description -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card rounded overflow-hidden">
            <img
              src="/blog/images/blog/single01.jpg"
              class="img-fluid rounded shadow"
              alt=""
            />
            <div
              class="position-absolute bottom-0 start-50 translate-middle-x text-center mb-3 ms-4"
            >
              <p class="fst-italic text-white mb-0">
                The man who comes back through the door in the wall will never
                be quite the same as the man who went out.
              </p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="row">
            <div class="col-md-1 d-md-block d-none">
              <div class="sidebar sticky-bar">
                <ul
                  class="list-unstyled align-items-center social-icon social mb-0"
                >
                  <li>
                    <a href="javascript:void(0)" class="rounded"
                      ><i class="uil uil-facebook-f"></i></a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="rounded mt-1"
                      ><i class="uil uil-instagram"></i></a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="rounded mt-1"
                      ><i class="uil uil-twitter"></i></a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="rounded mt-1"
                      ><i class="uil uil-linkedin"></i></a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="rounded mt-1"
                      ><i class="uil uil-dribbble"></i></a
                    >
                  </li>
                </ul>
              </div>
            </div><!--end col-->

            <div class="col-md-11">
              <p class="text-muted">
                <span class="dropcaps display-4 text-primary me-2">T</span>he
                most well-known dummy text is the 'Lorem Ipsum', which is said
                to have originated in the 16th century. Lorem Ipsum is composed
                in a pseudo-Latin language which more or less corresponds to
                'proper' Latin. It contains a series of real Latin words. This
                ancient dummy text is also incomprehensible, but it imitates the
                rhythm of most European languages in Latin script. The advantage
                of its Latin origin and the relative meaninglessness of Lorum
                Ipsum is that the text does not attract attention to itself or
                distract the viewer's attention from the layout.
              </p>
              <p class="text-muted mb-0">
                Thus, Lorem Ipsum has only limited suitability as a visual
                filler for German texts. If the fill text is intended to
                illustrate the characteristics of different typefaces, it
                sometimes makes sense to select texts containing the various
                letters and symbols specific to the output language.
              </p>

              <blockquote class="text-center mx-auto blockquote">
                <i
                  class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"
                ></i> The man who comes back through the door in the wall will never
                be quite the same as the man who went out. <small
                  class="d-block text-muted mt-2">- Starty Template</small
                >
              </blockquote>

              <p class="text-muted mb-0">
                There is now an abundance of readable dummy texts. These are
                usually used when a text is required purely to fill a space.
                These alternatives to the classic Lorem Ipsum texts are often
                amusing and tell short, funny or nonsensical stories.
              </p>
            </div><!--end col-->
          </div><!--end row-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row">
        <div class="col-12">
          <div class="card rounded overflow-hidden">
            <img
              src="/blog/images/blog/single02.jpg"
              class="img-fluid rounded shadow"
              alt=""
            />

            <div
              class="position-absolute bottom-0 start-50 translate-middle-x text-center mb-3 ms-4"
            >
              <p class="fst-italic text-white mb-0">
                The man who comes back through the door in the wall will never
                be quite the same as the man who went out.
              </p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <p class="text-muted mb-0">
            <span class="dropcaps display-4 text-primary me-2">I</span>t seems
            that only fragments of the original text remain in the Lorem Ipsum
            texts used today. One may speculate that over the course of time
            certain letters were added or deleted at various positions within
            the text. This might also explain why one can now find slightly
            different versions. Due to the age of the Lorem Ipsum text there are
            no copyright issues to contend with.
          </p>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row">
        <div class="col-12">
          <span class="divider-main divider"></span>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End Description -->
  <!-- Hero End -->
</Blog>
